/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


/* ====================== Font ====================== */


@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");



/* ====================== Bacis css ====================== */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    vertical-align: baseline;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
  
body {
    font-family: "Be Vietnam Pro", sans-serif;
    overflow-x: hidden;
}

ul li {
    list-style: none;
}

a{
    text-decoration: none;
}

/*Section Fix*/
section.row, header.row, footer.row {
  margin: 0;
}

#success {
  display: none;
}

#error {
  display: none;
}

iframe {
  border: none;
}

i:before {
  margin-left: 0px !important;
}

@-webkit-keyframes turnOne {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
    }
  }

@keyframes turnOne {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
    }
  }
  







/* ====================== Content area start ====================== */

.card {
    border: none;
    background-color: unset;
}
.card .card-body {
  padding: 0;
}
section {
  display: block;
  overflow: hidden;
}
.main-container {
  max-width: 1560px;
  display: block;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
.conquiste-tempo-container {
  max-width: 985px;
  display: block;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
.title {
  font-weight: 600;
  font-size: 45px;
  line-height: 1.288;
  color: #0F0F0F;
}


  .header-area {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 3px 28px rgba(121, 78, 182, 0.07);
            box-shadow: 0px 3px 28px rgba(121, 78, 182, 0.07);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
  }
  .header-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 14px 0;
    gap: 15px;
  }
  .header-logo img {
    display: inline-block;
    width: 143px;
    height: auto;
    vertical-align: middle;
  }
  .header-login-btn {
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    border-radius: 30px;
    padding: 15px 40px;
    background: -webkit-gradient(linear, left top, left bottom, from(#6D3FAF), color-stop(100%, #532E88), to(#532E88));
    background: -o-linear-gradient(top, #6D3FAF 0%, #532E88 100%, #532E88 100%);
    background: linear-gradient(180deg, #6D3FAF 0%, #532E88 100%, #532E88 100%);
    border: 1px solid #A884DB;
    -webkit-box-shadow: 2px 3px 28px rgba(150, 109, 235, 0.21);
            box-shadow: 2px 3px 28px rgba(150, 109, 235, 0.21);
  }
  .header-login-btn:hover {
    color: #FFFFFF;
    background: #703FB9;
  }
  
  .login_dropdown{
    width: 355px;
    background: #FFFFFF;
    border: 1px solid #E8E8FF;
    box-shadow: 2px 3px 28px rgba(157, 159, 240, 0.11);
    border-radius: 25px;
    padding: 30px 25px 20px 25px;
    margin-top: 20px !important;
  }

  .login_dropdown::before{
    content: '';
    position: absolute;
    bottom: 100%;
    right: 50px;
    width: 20px;
    height: 18px;
    background: #fff;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }

  .login_dropdown>div:first-child{
    margin-bottom: 42px;
  }

  .login_dropdown h5{
    font-weight: 600;
    font-size: 22px;
    line-height: 1.272;
    color: #1F1F11;
    font-family: "Be Vietnam Pro", sans-serif;
    margin-bottom: 22px;
  }

  .login_dropdown button{
    display: inline-flex;
    align-items: center;
    background: #FFFFFF;
    border: 1.5px solid #542F89;
    box-shadow: 2px 3px 28px rgba(177, 147, 238, 0.13);
    border-radius: 60px;
    padding: 16px 21px 16px 23px;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 600;
    font-size: 17px;
    line-height: 1.2;
    color: #59338E;
    transition: 200ms;
  }

  .login_dropdown button:hover{
    background: #ede6f7;
  }

  .login_dropdown button img{
    width: 26px;
  }

  .login_dropdown button span{
    display: inline-block;
    margin-left: 12px;
    padding-left: 10px;
    border-left: 1px solid #DEDEDE;
  }

.landing-hero-area {
    background: url(../img/landing-hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 145px 0 150px;
  }
  .main-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 67px;
  }
  .landing-hero-text-area {
    position: relative;
    padding-top: 80px;
  }
  .landing-hero-text-area h1 {
    font-weight: 700;
    font-size: 70px;
    line-height: 1.371;
    color: #0F0F0F;
    max-width: 800px;
    padding-bottom: 60px;
  }
  .landing-hero-text-area h1 span {
    color: #532E88;
    position: relative;
  }
  .landing-hero-text-area h1 span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -20px;
    background: url(../img/landing-hero-shap-1.png);
    background-repeat: no-repeat;
    background-position: bottom;
    height: 26.27px;
    width: 100%;
  }
  .landing-hero-text-area p {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.5;
    color: #454545;
    max-width: 577px;
    margin-bottom: 40px;
  }
  .landing-hero-text-area::after {
    content: "";
    position: absolute;
    bottom: -79px;
    right: 0;
    background: url(../img/landing-hero-shap-2.png);
    background-repeat: no-repeat;
    background-position: bottom;
    width: 278px;
    height: 332px;
    z-index: -1;
  }
  .landing-hero-btn-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 12px;
  }
  .landing-hero-btn-area .landing-hero-btn {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.55;
    text-align: center;
    color: #FFFFFF;
    padding: 15px 30px;
    background: -webkit-gradient(linear, left top, left bottom, from(#6D3FAF), color-stop(100%, #532E88), to(#532E88));
    background: -o-linear-gradient(top, #6D3FAF 0%, #532E88 100%, #532E88 100%);
    background: linear-gradient(180deg, #6D3FAF 0%, #532E88 100%, #532E88 100%);
    border: 1px solid #A884DB;
    -webkit-box-shadow: 2px 3px 28px rgba(150, 109, 235, 0.21);
            box-shadow: 2px 3px 28px rgba(150, 109, 235, 0.21);
    border-radius: 60px;
  }
  .landing-hero-btn-area .landing-hero-btn:hover {
    background: #703FB9;
    color: #FFFFFF;
  }
  .landing-hero-btn-area .landing-hero-btn2 {
    background: #FFFFFF;
    color: #59338E;
  }
  .landing-hero-btn-area .landing-hero-btn2:hover {
    background: #EDE6F7;
    color: #59338E;
  }
  .landing-hero-img {
    position: relative;
  }
  .landing-hero-img .landing-hero-main-img {
    position: relative;
  }
  .landing-hero-img .landing-hero-main-img img {
    max-width: 665px;
    height: auto;
    display: block;
  }
  .landing-hero-img .landing-hero-main-img::after {
    content: "";
    position: absolute;
    left: 70px;
    top: 10px;
    background: url(../img/landing-hero-shap-3.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 138px;
    width: 127px;
    z-index: 1;
  }
  .landing-hero-img::after {
    content: "";
    position: absolute;
    left: -20px;
    bottom: -15px;
    background: url(../img/landing-hero-shap-5.png);
    background-repeat: no-repeat;
    background-position: bottom;
    height: 100px;
    width: 100px;
    z-index: -1;
  }
  .landing-hero-img .landing-hero-main-img2 {
    display: inline-block;
    background: #FFFFFF;
    -webkit-box-shadow: 2px 3px 26px rgba(156, 112, 247, 0.1);
            box-shadow: 2px 3px 26px rgba(156, 112, 247, 0.1);
    border-radius: 15px;
    padding: 15px;
    position: absolute;
    right: 145px;
    bottom: 15px;
  }
  .landing-hero-img .landing-hero-main-img2 .rotate-img {
    -webkit-animation-duration: 7s;
            animation-duration: 7s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-animation-name: turnOne;
            animation-name: turnOne;
  }
  

  .landing-testimonial-area {
    position: relative;
    z-index: 1;
  }
  .landing-testimonial-area::after {
    content: "";
    position: absolute;
    right: -50px;
    top: 0;
    width: 280px;
    height: 190px;
    background: url(../img/testimonia-shap-1.png);
    background-repeat: no-repeat;
    z-index: -1;
  }
  .landing-testimonial-area::before {
    content: "";
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
    bottom: 50px;
    width: 564px;
    height: 209px;
    background: url(../img/testimonia-shap-2.png);
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
  }
  .testimonia-item {
    background: #FFFFFF;
    border: 1px solid #E8E8FF;
    -webkit-box-shadow: 2px 3px 28px rgba(157, 159, 240, 0.11);
            box-shadow: 2px 3px 28px rgba(157, 159, 240, 0.11);
    border-radius: 25px;
    padding: 18px 25px;
    position: relative;
    margin-top: 130px;
    position: relative;
    user-select: none;
  }
  .testimonia-item .testimonial-image img {
    height: 72px;
    width: 72px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
    display: block;
    border: 1px solid #EADAFF;
    position: absolute;
    top: -31px;
    left: 25px;
    z-index: 1;
  }
  .testimonia-item .testimonial-image h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4;
    color: #1F1F11;
    padding-bottom: 4px;
    padding-top: 37px;
  }
  .testimonia-item .testimonial-image p {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.64;
    color: #454545;
    padding-bottom: 16px;
  }
  .testimonia-item .testimonial-rating {
    border-top: 1px solid #ECEDFC;
    padding-top: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .testimonia-item .testimonial-rating .testimonial-ratingName h6 {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #363636;
    padding-bottom: 4px;
  }
  .testimonia-item .testimonial-rating .testimonial-ratingName sapn {
    font-weight: 400;
    font-size: 19px;
    line-height: 24px;
    color: #747474;
  }
  .testimonia-item .testimonial-rating ul li {
    display: inline-block;
    padding: 0 3px;
  }
  .testimonia-item .testimonial-rating ul li img {
    width: 25.55px;
  }
  .landing-testimonia-swiper {
    padding-bottom: 150px;
  }
  .landing-testimonia-swiper .story-ab-btn-next {
    font-size: 30px;
    color: #fff;
    text-align: center;
    height: 64px;
    width: 64px;
    line-height: 78px;
    background: -webkit-gradient(linear, left top, left bottom, from(#6D3FAF), color-stop(100%, #532E88), to(#532E88));
    background: -o-linear-gradient(top, #6D3FAF 0%, #532E88 100%, #532E88 100%);
    background: linear-gradient(180deg, #6D3FAF 0%, #532E88 100%, #532E88 100%);
    border: 1px solid #A884DB;
    -webkit-box-shadow: 2px 3px 28px rgba(150, 109, 235, 0.21);
            box-shadow: 2px 3px 28px rgba(150, 109, 235, 0.21);
    border-radius: 50%;
    right: 45%;
    left: auto;
    top: 78%;
  }
  .landing-testimonia-swiper .story-ab-btn-prev {
    font-size: 30px;
    color: #fff;
    text-align: center;
    height: 64px;
    width: 64px;
    line-height: 78px;
    background: -webkit-gradient(linear, left top, left bottom, from(#6D3FAF), color-stop(100%, #532E88), to(#532E88));
    background: -o-linear-gradient(top, #6D3FAF 0%, #532E88 100%, #532E88 100%);
    background: linear-gradient(180deg, #6D3FAF 0%, #532E88 100%, #532E88 100%);
    border: 1px solid #A884DB;
    -webkit-box-shadow: 2px 3px 28px rgba(150, 109, 235, 0.21);
            box-shadow: 2px 3px 28px rgba(150, 109, 235, 0.21);
    border-radius: 50%;
    left: 44.5% !important;
    top: 78% !important;
    right: auto;
  }
  .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    display: none;
  }
  .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    display: none;
  }
  .landing-testimonia-swiper .story-ab-btn-prev:hover, .landing-testimonia-swiper .story-ab-btn-next:hover {
    background: #703FB9;
  }
  .swiper-button-disabled {
    color: #61379D !important;
    background: #fff !important;
    opacity: 1 !important;
  }
  .conquiste-tempo-area {
    background: url(../img/conquiste-tempo-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 100px;
  }
  .conquiste-tempo-title {
    text-align: center;
    margin: 0 auto;
    max-width: 532px;
    padding: 102px 0 50px;
  }
  .conquiste-tempo-item {
    background: #FFFFFF;
    border: 1px solid #E8E8FF;
    -webkit-box-shadow: 2px 3px 28px rgba(157, 159, 240, 0.11);
            box-shadow: 2px 3px 28px rgba(157, 159, 240, 0.11);
    border-radius: 25px;
    padding: 30px 20px;
  }
  .conquiste-tempo-item .conquiste-tempo-item-title {
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 1.5px solid #F4F4F4;
  }
  .conquiste-tempo-item .conquiste-tempo-item-title h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #1F1F1F;
  }
  .conquiste-tempo-item .conquiste-tempo-item-ul {
    padding-top: 15px;
  }
  .conquiste-tempo-item .conquiste-tempo-item-ul .conquiste-tempo-item-li {
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #363636;
    max-width: 401px;
    padding: 15px 0 15px 40px;
    position: relative;
  }
  .conquiste-tempo-item .conquiste-tempo-item-ul .conquiste-tempo-item-li::after {
    content: "";
    position: absolute;
    left: 0;
    top: 11px;
    height: 27px;
    width: 27px;
    background: url(../img/cross.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .conquiste-tempo-item-com {
    position: relative;
  }
  .conquiste-tempo-item-com::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 44px;
    width: 460px;
    height: 396.84px;
    background: -webkit-gradient(linear, left top, left bottom, from(#B182F5), to(#A775ED));
    background: -o-linear-gradient(top, #B182F5 0%, #A775ED 100%);
    background: linear-gradient(180deg, #B182F5 0%, #A775ED 100%);
    border-radius: 25px;
    -webkit-transform: rotate(-3.77deg);
        -ms-transform: rotate(-3.77deg);
            transform: rotate(-3.77deg);
    z-index: -1;
  }
  .conquiste-tempo-item-com .conquiste-tempo-item-ul-com .conquiste-tempo-item-li-com {
    position: relative;
  }
  .conquiste-tempo-item-com .conquiste-tempo-item-ul-com .conquiste-tempo-item-li-com::after {
    content: "";
    position: absolute;
    left: 0;
    top: 11px;
    height: 27px;
    width: 27px;
    background: url(../img/check.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .virtap-area {
    padding-top: 140px;
    background: url(../img/virtap-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  }
  .virtap-area::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0px;
    height: 178px;
    width: 201px;
    background: url(../img/virtap-shap-img-1.png);
    background-repeat: no-repeat;
  }
  .virtap-area .virtap-text-item {
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .virtap-area .virtap-text-item .virtap-title h2 {
    padding-bottom: 24px;
  }
  .virtap-area .virtap-text-item .virtap-title p {
    font-weight: 400;
    font-size: 19px;
    line-height: 1.6;
    color: #454545;
    max-width: 594px;
  }
  .virtap-area .virtap-image-item {
    display: block;
    padding-left: 65px;
  }
  .virtap-area .virtap-image-item img {
    display: block;
    max-width: 705px;
    height: auto;
  }
  .cada-necessidade-area {
    padding-top: 160px;
    padding-bottom: 250px;
  }
  .cada-necessidadetitle {
    text-align: center;
    margin: 0 auto;
    max-width: 744px;
    padding-bottom: 88px;
  }
  .cada-necessidade-text-area {
    position: relative;
  }
  .cada-necessidade-text-area::after {
    content: "";
    position: absolute;
    left: -214px;
    top: 20px;
    width: 562px;
    height: 401px;
    background: url(../img/cada-necessidade-shap-1.png);
    background-repeat: no-repeat;
    z-index: -1;
  }
  .cada-necessidade-text-area h3 {
    font-weight: 600;
    font-size: 35px;
    line-height: 1.48;
    color: #8BCED3;
    max-width: 537px;
    padding-bottom: 12px;
  }
  .cada-necessidade-text-area p {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.76;
    color: #454545;
    padding-bottom: 16px;
    max-width: 571px;
  }
  .cada-necessidade-text-area h4 {
    font-weight: 500;
    font-size: 22px;
    line-height: 1.72;
    color: #363636;
    padding-bottom: 12px;
    max-width: 499px;
  }
  .cada-necessidade-text-area ul li {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.647;
    color: #363636;
    padding-bottom: 12px;
    padding-left: 34px;
    position: relative;
  }
  .cada-necessidade-text-area ul li::after {
    content: "";
    position: absolute;
    left: 0;
    top: 7px;
    width: 22px;
    height: 16px;
    background: url(../img/cada-necessidade-vector.png);
    background-repeat: no-repeat;
  }
  .cada-necessidade-text-area .cada-necessidade-text-btn {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: #59338E;
    text-transform: capitalize;
    display: inline-block;
    margin: 36px 0 0 34px;
  }
  .cada-necessidade-image {
    display: block;
    text-align: right;
  }
  .cada-necessidade-image img {
    max-width: 100%;
    height: auto;
  }
  .cada-necessidade-text-area-tow {
    position: relative;
  }
  .cada-necessidade-text-area-tow::after {
    content: "";
    position: absolute;
    right: -315px;
    left: unset;
    top: -83px;
    width: 774px;
    height: 684px;
    background: url(../img/cada-necessidade-shap-2.png);
    background-repeat: no-repeat;
  }
  .cada-necessidade-image-tow {
    text-align: left;
  }
  .cada-necessidade-text-area-three {
    position: relative;
  }
  .cada-necessidade-text-area-three::after {
    content: "";
    position: absolute;
    left: -207px;
    top: -24px;
    width: 546px;
    height: 612px;
    background: url(../img/cada-necessidade-shap-3.png);
    background-repeat: no-repeat;
    z-index: -1;
  }
  .cada-necessidade-text-area-three h3 {
    max-width: 627px;
  }
  .cada-necessidade-text-area-four {
    position: relative;
  }
  .cada-necessidade-text-area-four::after {
    content: "";
    position: absolute;
    right: -486px;
    left: unset;
    top: -28px;
    width: 837px;
    height: 595px;
    background: url(../img/cada-necessidade-shap-4.png) !important;
    background-repeat: no-repeat;
  }
  .cada-necessidade-text-area-last {
    position: relative;
  }
  .cada-necessidade-text-area-last::after {
    content: "";
    position: absolute;
    right: -486px;
    left: unset;
    top: -28px;
    width: 837px;
    height: 595px;
    background: url(../img/cada-necessidade-shap-4.png) !important;
    background-repeat: no-repeat;
  }
  .virtap-funciona-area {
    padding-bottom: 160px;
    position: relative;
  }
  .virtap-funciona-area::after {
    content: "";
    position: absolute;
    right: -45px;
    top: 0;
    width: 605px;
    height: 590px;
    background: url(../img/virtap-funciona-ishap.png);
    background-repeat: no-repeat;
    z-index: -1;
  }
  .virtap-funciona-area .virtap-funciona-btn {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    background: -webkit-gradient(linear, left top, left bottom, from(#6D3FAF), color-stop(100%, #532E88), to(#532E88));
    background: -o-linear-gradient(top, #6D3FAF 0%, #532E88 100%, #532E88 100%);
    background: linear-gradient(180deg, #6D3FAF 0%, #532E88 100%, #532E88 100%);
    border: 1px solid #A884DB;
    -webkit-box-shadow: 2px 3px 28px rgba(150, 109, 235, 0.21);
            box-shadow: 2px 3px 28px rgba(150, 109, 235, 0.21);
    border-radius: 60px;
    padding: 19px 48px;
    margin-top: 66px;
    display: inline-block;
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
  }
  .virtap-funciona-area .virtap-funciona-btn:hover {
    background: #703FB9;
    color: #FFF;
  }
  .virtap-funciona-title {
    text-align: center;
    padding-bottom: 50px;
  }
  .virtap-funciona-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 70px;
  }
  .virtap-funciona-item {
    background: #FFFFFF;
    border: 1px solid #E4E9FF;
    -webkit-box-shadow: 2px 3px 28px rgba(86, 111, 231, 0.07);
            box-shadow: 2px 3px 28px rgba(86, 111, 231, 0.07);
    border-radius: 25px;
    padding: 44px;
    position: relative;
  }
  .virtap-funciona-item .right_arrow {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 100%;
    width: 100px;
    margin-left: 20px;
  }
  .virtap-funciona-item .virtap-funciona-img {
    border-radius: 50%;
    width: 98.88px;
    height: 98px;
    line-height: 98px;
    background: -webkit-gradient(linear, left top, left bottom, from(#6F4AA4), to(#5C3497));
    background: -o-linear-gradient(top, #6F4AA4 0%, #5C3497 100%);
    background: linear-gradient(180deg, #6F4AA4 0%, #5C3497 100%);
    border: 1px solid #583190;
    -webkit-box-shadow: 2px 3px 28px rgba(94, 53, 152, 0.21);
            box-shadow: 2px 3px 28px rgba(94, 53, 152, 0.21);
    display: block;
    margin: 0 auto;
  }
  .virtap-funciona-item .virtap-funciona-img img {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .virtap-funciona-item h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
    color: #1F1F1F;
    padding: 23px 0 9px;
  }
  .virtap-funciona-item p {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    text-align: center;
    color: #454545;
    margin: 0 auto;
    max-width: 265px;
  }
  .vantagem-plataforma-area {
    background: url(../img/vantagem-plataforma-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 60px;
  }
  .vantagem-plataforma-title {
    padding: 180px 0 100px;
    text-align: center;
  }
  .vantagem-plataforma-wrapper {
    display: -ms-grid;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-flow: dense;
  }
  .vantagem-plataforma-item {
    text-align: center;
    position: relative;
  }
  .vantagem-plataforma-item .vantagem-plataforma-icon {
    color: #fff;
    font-size: 38px;
    text-align: center;
    display: block;
    height: 86px;
    width: 86px;
    line-height: 96px;
    border-radius: 50%;
    background: #8BCED3;
    margin: 0 auto;
  }
  .vantagem-plataforma-item h3 {
    font-weight: 600;
    font-size: 21px;
    line-height: 1.6;
    color: #1F1F1F;
    padding-top: 30px;
    padding-bottom: 10px;
    margin: 0 auto;
    max-width: 331px;
  }
  .vantagem-plataforma-item .vantagem-plataforma-heading {
    max-width: 257px;
  }
  .vantagem-plataforma-item p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #454545;
    max-width: 320px;
    margin: 0 auto;
  }
  .vantagem-plataforma-item .vantagem-plataforma-shap {
    position: absolute;
    right: -75px;
    top: -46px;
    width: 168.19px;
    height: 121.51px;
  }
  .ninja-recomenda-area {
    padding-top: 260px;
    position: relative;
  }
  .ninja-recomenda-area::after {
    content: "";
    position: absolute;
    left: -1%;
    top: 160px;
    width: 825px;
    height: 664px;
    background: url(../img/ninja-recomenda-shap.png);
    background-repeat: no-repeat;
    z-index: -1;
  }
  .ninja-recomenda-area::before {
    content: "";
    position: absolute;
    right: -130px;
    top: 47%;
    width: 916px;
    height: 428px;
    background: url(../img/ninja-recomenda-shap-2.png);
    background-repeat: no-repeat;
    z-index: -1;
  }
  .ninja-recomenda-title {
    padding-top: 120px;
  }
  .ninja-recomenda-title h2 {
    max-width: 513px;
    padding-bottom: 23px;
    font-weight: 600;
    font-size: 45px;
    line-height: 1.066;
    color: #1D1B1B;
  }
  .ninja-recomenda-title p {
    font-weight: 400;
    font-size: 22px;
    line-height: 1.545;
    color: #454545;
    max-width: 377px;
  }
  .ninja-recomenda-right-item {
    background: #FFFFFF;
    border: 1px solid #E8E8FF;
    -webkit-box-shadow: 2px 3px 28px rgba(157, 159, 240, 0.11);
            box-shadow: 2px 3px 28px rgba(157, 159, 240, 0.11);
    border-radius: 25px;
    padding: 25px;
  }
  .ninja-recomenda-user-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .ninja-recomenda-user-area img {
    display: block;
    width: 33px;
  }
  .ninja-recomenda-user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  .ninja-recomenda-user img {
    height: 72px;
    width: 72px;
    border-radius: 50%;
  }
  .ninja-recomenda-user .ninja-recomenda-user-name a {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.55;
    color: #363636;
    display: block;
    padding-bottom: 4px;
  }
  .ninja-recomenda-user .ninja-recomenda-user-name strong {
    font-weight: 400;
    font-size: 19px;
    line-height: 1;
    color: #747474;
  }
  .ninja-recomenda-user-paragraph {
    margin-top: 22px;
  }
  .ninja-recomenda-user-paragraph p {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.64;
    color: #454545;
    max-width: 350px;
    padding-bottom: 14px;
  }
  .ninja-recomenda-user-paragraph h6 {
    font-weight: 600;
    font-size: 17px;
    line-height: 1.64;
    color: #363636;
    max-width: 363px;
  }
  .ninja-recomenda-right-item-last {
    margin-top: 15px;
    max-width: 425px;
    margin: 0 auto 0;
  }
  .Para-quem-area {
    padding-top: 180px;
    padding-bottom: 170px;
  }
  .Para-quem-title {
    text-align: center;
    padding-bottom: 50px;
  }
  .Para-quem-wrapper {
    margin: 0 115px;
    display: -ms-grid;
    display: grid;
    gap: 0px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-flow: dense;
  }
  .Para-quem-items {
    display: block;
    text-align: center;
    padding: 0 10px;
  }
  .Para-quem-items img {
    width: auto;
    height: 206px;
    margin: 0 auto;
    display: block;
    margin-top: 60px;
  }
  .Para-quem-items h3 {
    display: block;
    font-weight: 600;
    font-size: 22px;
    line-height: 1.36;
    text-align: center;
    color: #0F0324;
    max-width: 258px;
    margin: 0 auto;
    padding: 50px 0 33px;
  }
  .Para-quem-items p {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.64;
    text-align: center;
    color: #454545;
    max-width: 370px;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  .Para-quem-item-one {
    border-right: 3.2px dashed #E4DAF9;
    border-top: 3.2px dashed #E4DAF9;
    position: relative;
  }
  .Para-quem-item-one::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 70%;
    border-width: 2px;
    border-style: dashed;
    border-color: #E4DAF9;
  }
  .Para-quem-item-one::before {
    content: "";
    position: absolute;
    left: -115px;
    top: 70%;
    width: 115px;
    border-style: dashed;
    border-color: #E4DAF9;
  }
  .Para-quem-item-two {
    border-right: 3.2px dashed #E4DAF9;
    border-bottom: 3.2px dashed #E4DAF9;
  }
  .Para-quem-item-three {
    border-top: 3.2px dashed #E4DAF9;
    position: relative;
  }
  .Para-quem-item-three::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 70%;
    border-width: 2px;
    border-style: dashed;
    border-color: #E4DAF9;
  }
  .Para-quem-item-three::before {
    content: "";
    position: absolute;
    right: -115px;
    top: 70%;
    width: 115px;
    border-style: dashed;
    border-color: #E4DAF9;
  }
  .explore-desenvolva-area {
    background: url(../img/explore-desenvolva-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 252px;
    padding-bottom: 160px;
  }
  .explore-desenvolva-left-item h2 {
    font-weight: 600;
    font-size: 43px;
    line-height: 1.37;
    color: #1D1B1B;
    max-width: 480px;
    margin-bottom: 52px;
  }
  .explore-desenvolva-left-item a {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #59338E;
    text-align: center;
    display: inline-block;
    background: #FFFFFF;
    border: 1px solid #A793C2;
    -webkit-box-shadow: 2px 3px 28px rgba(150, 109, 235, 0.11);
            box-shadow: 2px 3px 28px rgba(150, 109, 235, 0.11);
    border-radius: 60px;
    padding: 16px 40px;
  }
  .explore-desenvolva-left-item a:hover {
    background: #EDE6F7;
    color: #59338E;
  }
  .explore-desenvolva-right-item {
    background: #FFFFFF;
    border: 1px solid #E4E9FF;
    -webkit-box-shadow: 2px 3px 28px rgba(86, 111, 231, 0.07);
            box-shadow: 2px 3px 28px rgba(86, 111, 231, 0.07);
    border-radius: 25px;
    padding: 35px;
  }
  .explore-desenvolva-right-item img {
    display: block;
    max-width: 214px;
    height: 155px;
    margin: 0 auto;
  }
  .explore-desenvolva-right-item p {
    text-align: center;
    max-width: 260px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.647;
    color: #545454;
    padding-top: 20px;
  }
  .explore-desenvolva-right-item-two {
    margin-top: 110px;
  }
  .comunidade-students-area {
    position: relative;
    padding-top: 120px;
    padding-bottom: 235px;
  }
  .comunidade-students-area::after {
    content: "";
    position: absolute;
    left: 0;
    top: 120px;
    height: 600px;
    width: 635px;
    background: url(../img/comunidade-students-bg.png);
    background-repeat: no-repeat;
    z-index: -1;
  }
  .comunidade-students-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .comunidade-students-item h2 {
    font-weight: 600;
    font-size: 45px;
    line-height: 1.377;
    color: #1D1B1B;
    padding-bottom: 26px;
    max-width: 487px;
  }
  .comunidade-students-item p {
    font-weight: 400;
    font-size: 22px;
    line-height: 1.454;
    color: #454545;
    max-width: 532px;
  }
  .comunidade-students-map {
    position: relative;
  }
  .comunidade-students-map img {
    position: absolute;
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }
  .comunidade-students-map iframe {
    width: 814px;
    max-width: 100%;
    min-height: 657px;
    border-radius: 12px;
    display: block;
  }
  .comunidade-students-map .comunidade-students-map-1 {
    left: 100px;
    top: 100px;
  }
  .comunidade-students-map .comunidade-students-map-2 {
    right: 240px;
    top: 25px;
  }
  .comunidade-students-map .comunidade-students-map-3 {
    left: 192px;
    top: 343px;
  }
  .comunidade-students-map .comunidade-students-map-4 {
    right: 139px;
    top: 367px;
  }
  .comunidade-students-map .comunidade-students-map-5 {
    left: 325px;
    bottom: 62px;
  }
  .comunidade-students-map .comunidade-students-map-6 {
    right: 47px;
    bottom: 82px;
  }
  .assistentes-especialistas-area {
    position: relative;
  }
  .assistentes-especialistas-area::before {
    content: "";
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
    bottom: 0;
    width: 564px;
    height: 209px;
    background: url(../img/testimonia-shap-2.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  .assistentes-especialistas-swiper {
    padding-bottom: 134px;
  }
  .assistentes-especialistas-swiper .story-ab-btn-next {
    font-size: 30px;
    color: #fff;
    text-align: center;
    height: 64px;
    width: 64px;
    line-height: 78px;
    background: -webkit-gradient(linear, left top, left bottom, from(#6D3FAF), color-stop(100%, #532E88), to(#532E88));
    background: -o-linear-gradient(top, #6D3FAF 0%, #532E88 100%, #532E88 100%);
    background: linear-gradient(180deg, #6D3FAF 0%, #532E88 100%, #532E88 100%);
    border: 1px solid #A884DB;
    -webkit-box-shadow: 2px 3px 28px rgba(150, 109, 235, 0.21);
            box-shadow: 2px 3px 28px rgba(150, 109, 235, 0.21);
    border-radius: 50%;
    right: 45%;
    left: auto;
    top: 88%;
  }
  .assistentes-especialistas-swiper .story-ab-btn-prev {
    font-size: 30px;
    color: #fff;
    text-align: center;
    height: 64px;
    width: 64px;
    line-height: 78px;
    background: -webkit-gradient(linear, left top, left bottom, from(#6D3FAF), color-stop(100%, #532E88), to(#532E88));
    background: -o-linear-gradient(top, #6D3FAF 0%, #532E88 100%, #532E88 100%);
    background: linear-gradient(180deg, #6D3FAF 0%, #532E88 100%, #532E88 100%);
    border: 1px solid #A884DB;
    -webkit-box-shadow: 2px 3px 28px rgba(150, 109, 235, 0.21);
            box-shadow: 2px 3px 28px rgba(150, 109, 235, 0.21);
    border-radius: 50%;
    left: 45% !important;
    top: 88% !important;
    right: auto;
  }
  .assistentes-especialistas-swiper .story-ab-btn-prev:hover, .assistentes-especialistas-swiper .story-ab-btn-next:hover {
    background: #703FB9;
  }
  .assistentes-especialistas-title {
    margin-bottom: 57px;
  }
  .assistentes-especialistas-title h2 {
    text-align: center;
    margin: 0 auto;
    max-width: 450px;
    padding-bottom: 14px;
  }
  .assistentes-especialistas-title p {
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    color: #454545;
    text-align: center;
  }
  .assistentes-especialistas-item {
    background: #FFFFFF;
    border: 1px solid #E4E9FF;
    -webkit-box-shadow: 2px 3px 28px rgba(86, 111, 231, 0.07);
            box-shadow: 2px 3px 28px rgba(86, 111, 231, 0.07);
    border-radius: 25px;
    padding: 15px;
    min-height: 456px;
    position: relative;
  }
  .assistentes-especialistas-item img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 13px;
    border-radius: 25px;
  }
  .assistentes-especialistas-text .assistentes-especialistas-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 6px;
  }
  .assistentes-especialistas-text .assistentes-especialistas-name a {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    text-transform: capitalize;
    color: #0F0324;
    display: inline-block;
  }
  .assistentes-especialistas-text .assistentes-especialistas-name span {
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    color: #545454;
  }
  .assistentes-especialistas-text .assistentes-especialistas-name span i {
    color: #F1C40F;
  }
  .assistentes-especialistas-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #545454;
    max-width: 250px;
    padding-bottom: 22px;
  }
  .assistentes-especialistas-text ul {
    position: absolute;
    left: 15px;
    bottom: 22px;
  }
  .assistentes-especialistas-text ul li {
    display: inline-block;
    height: 45px;
    width: 45px;
    line-height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    text-align: center;
  }
  .assistentes-especialistas-text ul li i {
    font-size: 20px;
  }
  .assistentes-especialistas-text ul .book {
    background: #F3EBFF;
    border: 1px solid #D8C9EC;
  }
  .assistentes-especialistas-text ul .book i {
    color: #5F3799;
  }
  .assistentes-especialistas-text ul .star {
    background: #FFFAE4;
    border: 1px solid #FAEFC3;
  }
  .assistentes-especialistas-text ul .star i {
    color: #F1C40F;
  }
  .assistentes-especialistas-text ul .trophy {
    background: #E6F9FB;
    border: 1px solid #D4F5F8;
  }
  .assistentes-especialistas-text ul .trophy i {
    color: #7BC3C9;
  }
  .faq-area {
    position: relative;
    padding: 160px 0;
  }
  .faq-area::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -60px;
    width: 937px;
    height: 611px;
    background: url(../img/faq-shap.png);
    background-repeat: no-repeat;
    z-index: -1;
  }
  .faq-title h2 {
    padding-bottom: 24px;
  }
  .faq-item .wrapper {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .faq-item .accordion {
    width: 100%;
    overflow: hidden;
  }
  .faq-item .accordion__link {
    cursor: pointer;
    display: block;
    padding: 32px 58px 32px 95px;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    width: 100%;
    overflow: hidden;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.29;
    color: #1F1F1F;
  }
  .faq-item .accordion__link:before {
    content: '';
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 16px;
    width: 6.6rem;
    height: 6.6rem;
    background-image: url(../img/plus.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .faq-item .accordion__submenu {
    display: none;
    font-size: 14px;
    border-radius: 0 0 15px 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: -14px;
  }
  .faq-item .accordion__submenu-item {
    padding: 0 29px 0 96px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .faq-item .accordion__submenu-link {
    border-top: 1px solid #F4F4F4;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.81;
    color: #454545;
    padding: 12px 0 17px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .faq-item .is-open .accordion__link {
    color: #532E88;
  }
  .faq-item .is-open .accordion__link:before {
    background-image: url(../img/minus.png);
  }
  .faq-item .accordion__item {
    background: #FFFFFF;
    border: 1px solid #E4E9FF;
    -webkit-box-shadow: 2px 3px 28px rgba(86, 111, 231, 0.07);
            box-shadow: 2px 3px 28px rgba(86, 111, 231, 0.07);
    border-radius: 25px;
    margin-bottom: 16px;
  }
  .faq-image {
    display: block;
  }
  .faq-image img {
    display: block;
    width: 100%;
    max-width: 578px;
    height: auto;
    text-align: center;
    margin-left: auto;
  }
  .guru-insights-area {
    padding-bottom: 168px;
  }
  .guru-insights-wrapper {
    display: -ms-grid;
    display: grid;
    gap: 27px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-flow: dense;
  }
  .guru-insights-item {
    display: block;
    position: relative;
  }
  .guru-insights-item img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
    border-radius: 25px;
  }
  .guru-insights-item .guru-insights-img-text {
    display: block;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000000));
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    border-radius: 0px 0px 25px 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 21px 25px;
    width: 100%;
  }
  .guru-insights-item .guru-insights-img-text h6 {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.41;
    color: #FFFFFF;
    max-width: 330px;
    padding-bottom: 6px;
  }
  .guru-insights-item .guru-insights-img-text small {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    color: #F7F7F7;
  }
  .grid-2 {
    display: -ms-grid;
    display: grid;
    gap: 250px;
    -ms-grid-columns: 1fr 250px 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .order-lg-5 {
    -webkit-box-ordinal-group: 6 !important;
        -ms-flex-order: 5 !important;
            order: 5 !important;
  }
  .order-lg-6 {
    -webkit-box-ordinal-group: 7 !important;
        -ms-flex-order: 6 !important;
            order: 6 !important;
  }
  .order-lg-7 {
    -webkit-box-ordinal-group: 8 !important;
        -ms-flex-order: 7 !important;
            order: 7 !important;
  }
  .order-lg-8 {
    -webkit-box-ordinal-group: 9 !important;
        -ms-flex-order: 8 !important;
            order: 8 !important;
  }
  


  .footer-area {
    position: relative;
    background: url(../img/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding-top: 87px;
  }
  .footer-area::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 377px;
    width: 377px;
    background: url(../img/footer-bg-shap.png);
    background-repeat: no-repeat;
    z-index: -1;
  }
  .footer-title {
    margin-bottom: 64px;
  }
  .footer-title .footer-logo {
    display: block;
    text-align: center;
    padding-bottom: 34px;
  }
  .footer-title .footer-logo img {
    max-width: 185px;
    height: auto;
  }
  .footer-title p {
    text-align: center;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.647;
    color: #454545;
    max-width: 557px;
    margin: 0 auto;
  }
  .footer-item-heading {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    color: #1F1F1F;
    padding-bottom: 22px;
  }
  .footer-item-ul li {
    display: block;
  }
  .footer-item-ul li a {
    padding-bottom: 22px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #454545;
    display: inline-block;
  }
  .footer-item-ul li a:hover {
    color: #5F3799;
  }
  .footer-item p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #545454;
  }
  .footer-bottom {
    display: block;
    text-align: center;
    border-top: 1.5px solid #A7E7EC;
    padding: 22px 0;
  }
  .footer-bottom span {
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #454545;
  }
  .footer-bottom span a {
    color: #454545;
  }
  .footer-bottom span a:hover {
    color: #5F3799;
  }
  .footer-button-scrol {
    height: 40px;
    line-height: 40px;
    min-width: 40px;
    border-radius: 50%;
    text-align: center;
    color: #5F3799;
    position: fixed;
    right: 20px;
    bottom: 20px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    z-index: 999;
    font-size: 17px;
    border: 1px solid #522E88;
    background: #522E88;
    color: #FFF;
  }
  .footer-button-scrol:hover {
    border: 1px solid #703FB9;
    background: #703FB9;
    color: #FFF;  
  }
  


/*====================== career area ========================*/
  .career_content_wrap{
    width: 48rem;
    margin: auto;
    position: relative;
  }


  .career_icon_box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: absolute;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  
  .career_icon_box:nth-child(1){
    top: 0rem;
    left: -17rem;
  }
  
  .career_icon_box:nth-child(1) img{
    margin-left: 2rem;
  }

  .career_icon_box:nth-child(2){
    top: 0rem;
    right: -18rem;
  }

  .career_icon_box.right:nth-child(2) img{
    margin-right: 2rem
  }
   
  
  .career_icon_box:nth-child(3) {
    right: -23rem;
    top: 19rem;
  }
  
  .career_icon_box.right:nth-child(3) img{
    margin-right: 2rem
  }

  .career_icon_box:nth-child(4) {
    bottom: -2rem;
    right: -26rem;
  }
  
  .career_icon_box:nth-child(5) {
    bottom: -2rem;
    left: -28rem;
  }
  
  .career_icon_box:nth-child(6) {
    left: -24rem;
    top: 19rem;
  }

  .career_icon_box:nth-child(6) img {
    margin-left: 2rem;

  }
  
  .career_icon_box:not(.right){
    text-align: end;
  }
  
  .career_icon_box .icon{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    -webkit-box-shadow: .2rem .3rem 2.6rem rgba(190, 216, 218, 0.12);
            box-shadow: .2rem .3rem 2.6rem rgba(190, 216, 218, 0.12);
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-left: 3rem;
  }
  
  .career_icon_box.right .icon{
    margin-left: 0;
    margin-right: 3rem;
  }
  
  .career_icon_box h3{
    font-size: 2rem;
    line-height: 1.5;
    color: #363636;
    font-weight: 500;
  }
  
  .career_icon_box p{
    font-size: 1.5rem;
    line-height: 1.44;
    margin-top: .6rem;
  }
  
  
  
  