

@media (min-width: 1600px) { 

	.container{
		max-width: 1470px;
	}

	.circle_sh1{
		left: calc((100% - 1470px) / 2 + 15rem);
	}

}


@media (min-width: 1400px) and (max-width: 1599px){

	.container{
		max-width: 1300px;
	}

	html{
		font-size: 51.5%;
	}
	
	.hero_sh3{
		left: 12%;
	}

}



@media (min-width: 1200px) and (max-width: 1399px){

	.container{
		max-width: 1100px;
	}

	html{
		font-size: 43.5%;
	}

	.hero_sh3{
		left: 16%;
	}

}


@media (min-width: 992px) and (max-width: 1199px){

	.container{
		max-width: 980px;
	}

	html{
		font-size: 39%;
	}

	.hero_avatar_1{
		left: 10rem;
		bottom: 30rem;
	}

	.hero_avatar_2{
		bottom: 6rem;
	}

}



@media (min-width: 992px) { 
	
	.excelente_area .col-lg-5{
		width: 34.75%;
	}

	.excelente_area .col-lg-6{
		width: 53.33%;
	}
	
	.virtual_assistant_area .row1 .col-lg-6{
		width: 54%;
	}


	.singup_banner_area .col-lg-6{
		width: 58%;
	}

	.virtap_about_area .col-lg-6:nth-child(1){
		width: 47.5%;
	}

	.virtap_about_area .col-lg-6:nth-child(2){
		width: 45%;
	}

	.blog_area .col-lg-5{
		width: 48%;
	}

	.blog_area .col-lg-7{
		width: 52%;
	}

	.youtube_area .col-lg-3{
		width: 20%;
	}

	.youtube_area .col-lg-6{
		width: 48%;
	}

	.footer_main_row>.col-lg-3{
		width: 20%;
	}

	.footer_inner_row>.col-lg-3{
		width: 23%;
	}

	.footer_inner_row>.col-lg-2{
		width: 20%;
	}

}




@media (max-width: 991px) {

	html{
		font-size: 45%;
	}

	.hero_area {
		padding-bottom: 120rem;
	}

	.hero_area h1{
		font-size: 5rem;
	}

	.hero_area h1 br{
		display: none;
	}

	.hero_avatar_1{
		bottom: 23rem;
	}

	.hero_avatar_2_content {
		top: 26rem;
		left: -12.5rem;
	}

	.hero_avatar_2{
		bottom: 40rem;
	}

	.hero_avatar_1_content{
		right: 7.5rem;
	}

	.hero_avatar_1 .sh {
		top: 24.2rem;
		right: -4rem;
	}

	.hero_sh1{
		top: .8rem;
		left: -3rem;
	}

	.hero_sh2{
		top: 35rem;
	}

	.hero_sh3 {
		top: 12rem;
		left: 16%;
		width: 5.3rem;
	}

	.hero_sh4{
		top: 12rem;
		right: -2.8rem;
	}

	.hero_sh5{
		left: unset;
		top: unset;
		right: 5rem;
		bottom: 10rem;
	}

	.hero_sh6 {
		top: 60rem;
		right: unset;
		left: 30%;
	}

	.hero_sh8{
		display: none;
	}

	.excelente-slider-nav{
		margin-left: -2rem;
		margin-right: -2rem;
		margin-bottom: 3rem;
	}

	.excelente-slider{
		margin-left: -2rem;
		margin-right: -2rem;
	}

	.excelente-slider-nav .slick-slide,
	.excelente-slider .slick-slide{
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.excelente_slider_nav_item{
		background: #FFFFFF;
		border-color: #B6D2D5;
		-webkit-box-shadow: .2rem .3rem 3rem rgba(139, 206, 211, 0.4);
		box-shadow: .2rem .3rem 3rem rgba(139, 206, 211, 0.4);
	}

	.virtual_assistant_area .row1{
		text-align: left;
	}

	.virtual_assistant_img1{
		width: 85%;
		display: block;
		margin: auto;
		margin-bottom: 5rem;
	}

	.tasks_wrap{
		background: url(../img/bg2.png) no-repeat center bottom;
		background-size: 100% 75%;
	}	

	.tasks_wrap_img{
		margin-bottom: 4rem;
	}
	
	.heading2{
		margin-top: 4rem;
	}

	.career_icon_box:nth-child(3) {
/* 		right: -30rem;
		width: 37rem; */
	}

	.career_icon_box:nth-child(3) p br{
		
	}

	.career_icon_box:nth-child(3) h3{
/* 		font-size: 2rem; */
	}

	.career_icon_box:nth-child(3) p{
/* 		font-size: 1.7rem; */
	}
	
	.career_icon_box:nth-child(3)  .icon {
		margin-right: 1.5rem;
	}

	.projects_looking_wrap{
		padding-bottom: 9rem;
	}

	.projects_looking_img{
		margin-bottom: 10rem;
	}

	.singup_banner_img{
		position: relative;
		right: unset;
		top: 0;
		-webkit-transform: translate(0);
		    -ms-transform: translate(0);
		        transform: translate(0);
		width: calc(100% - 4rem);
		margin-left: auto;
		display: block;
		z-index: 2;
	}

	.singup_banner_content{
		padding: 57rem 10rem 9rem 10rem;
		margin-top: -50rem;
		text-align: center;
	}

	.singup_banner_content::before {
		height: 63%;
		top: unset;
		bottom: -2rem;
	}

	.singup_banner_area .sh {
		right: .5rem;
		bottom: 41rem;
		z-index: 1;
	}

	.virtap_about_img_blk{
		margin-bottom: 10rem;
	}

	.go_much_img{
		margin-top: 5rem;
	}

	.courses_area .row {
		--bs-gutter-x: 2rem;
	}

	.pricing_card{
		margin-top: 4rem;
	}

	.testimonial_wrap{
		padding: 6rem 13rem;
	}

	.testimonial_card{
		padding-left: 4rem;
		padding-right: 4rem;
	}

	.testimonial_slider_prev {
		left: -8.5rem;
	}

	.testimonial_slider_next {
		right: -8.5rem;
	}

	.latest_project_box{
		right: -7.5rem;
	}

	.youtube_video_blog video{
		height: 47.5rem;
	}

	.youtube_video_blog_body {
		padding: 2.4rem 1.3rem 1rem 1rem;
	}

	p.copyright{
		margin-top: 3.8rem;
		text-align: center;
	}

	.footer_about {
		text-align: center;
		margin: 0;
	}

	.site_footer h4{
		font-size: 2.4rem;
	}

	.footer_link a{
		font-size: 1.8rem;
	}

	.site_footer p{
		font-size: 2rem;
	}

	.footer_widget{
		margin-top: 5rem;
	}

	.login_area .row > div {
		min-height: auto;
		display: block;
	}

	.login_area .left{
		padding: 8rem 0 10rem;
	}

	.login_area .right{
		margin-top: -2rem;
		padding: 8rem 0;
		background: #FEFFFF;
		-webkit-box-shadow: -.3rem -.3rem 2.6rem rgba(195, 181, 215, 0.13);
		        box-shadow: -.3rem -.3rem 2.6rem rgba(195, 181, 215, 0.13);
		border-radius: 1.6rem 1.6rem 0 0;
	}

	.login_area .circle_sh{
		width: 10rem;
		height: 10rem;
	}

	.circle_sh3{
		left: 0;
		bottom: 8rem;
		top: unset;
	}

	.circle_sh4{
		top: 6.4rem;
		right: -3.4rem;
	}


	.login_area .sh1{
		left: .8rem;
		top: 6.4rem;
	}

	.login_area .sh2{
		display: none;
	}

	.login_area .left .login1_img {
		width: 61rem;
		margin-bottom: 8rem;
	}

	.login_area .sh4{
		top: -5.5rem;
		left: 0;
	}

	.login_area .left .login2_img {
		width: 51.8rem;
		margin-bottom: 6.7rem;
	}

}

.traditional_professions_area .list_box,
.traditional_professions_area .list_box2 {
	margin-top: 1.6rem;
}

.traditional_professions_area h2 {
	text-align: center;
}

@media (max-width: 767px) {
	
	html{
		font-size: 62.5%;
	}

	body{
		font-size: 1.7rem;
		line-height: 1.764;
	}

	h1{
		font-size: 2.3rem;
	}

	h2{
		font-size: 3rem;
	}

	h3{
		font-size: 2.2rem;
	}

	.site_header{
		padding: 1.2rem 0;
	}

	.site_header .secondary_button{
		padding: 1rem 2rem;
		border-radius: 1rem;
	}

	.site_logo{
		width: 11.3rem;
	}

	.secondary_button{
		padding: 1.3rem 2.5rem;
		font-size: 1.5rem;
		border-radius: 1.2rem;
	}

	.login_dropdwon{
		width: 30rem;
		padding: 3rem;
		border-radius: 1.6rem;
	}

	.login_dropdwon h5{
		font-size: 1.8rem;
	}

	.login_dropdwon h5.pt_35{
		padding-top: 2.5rem;
	}

	.login_dropdwon .button{
		padding: 1.4rem 2rem;
		font-size: 1.5rem;
		margin-top: 1.2rem;
	}

	.login_dropdwon .button .icon {
		margin-right: 1.2rem;
		padding-right: 1.2rem;
	}

	.login_dropdwon .button .icon img {
		width: 2rem;
	}

	.hero_area{
		padding: 2.2rem 0 65.4rem;
	}

	.hero_area h1 {
		font-size: 2.3rem;
	}

	.hero_area p br{
		display: none;
	}

	.hero_area p.mt_25{
		margin-top: 1.8rem;
	}

	.hero_button span{
		font-size: 1.9rem;
		padding: 2.4rem 0;
		width: 100%;
	}

	.hero_sh1 {
		left: -2rem;
		width: 5rem;
		height: 5.6rem;
	}

	.hero_sh9{
		width: 12.2rem;
		height: 12.2rem;
		left: 41%;
		top: 2.3rem;
	}

	.hero_sh4 {
		top: 10.7rem;
		width: 7rem;
	}

	.hero_sh3 {
		top: 8.3rem;
		left: 1rem;
		width: 3rem;
	}

	.hero_sh2 {
		top: 22.4rem;
		width: 4rem;
		left: 2rem;
	}

	.hero_sh7{
		display: none;
	}

	.hero_sh6 {
		top: 42rem;
		left: 7rem;
		width: 2.7rem;
	}

	.hero_sh5{
		width: 3rem;
	}

	.hero_avatar_1{
		left: 2.3rem;
		bottom: 15.7rem;
	}

	.hero_avatar_1 .img {
		width: 22.3rem;
	}

	.hero_avatar_1 .sh {
		top: 14.5rem;
		right: -3rem;
		width: 8rem;
	}

	.hero_avatar_1_content{
		padding: 1.3rem 2rem 1.5rem 2rem;
		right: 3rem;
		bottom: -8rem;
	}

	.hero_avatar_1_content h5{
		font-size: 1.7rem;
	}

	.hero_avatar_1_content p{
		font-size: 1.3rem;
		margin-top: .65rem;
	}

	.hero_avatar_1_content .star {
		width: 8rem;
		margin: 1.45rem 0 1.65rem;
	}

	.icon_list{
		gap: 0 .85rem;
	}

	.icon_list a{
		width: 3.3rem;
		height: 3.3rem;
	}

	.icon_list a img{
		width: 1.3rem;
	}

	.hero_avatar_2 {
		bottom: 28.5rem;
		right: -5rem;
	}
	
	.hero_avatar_2 .img {
		width: 31.5rem;
	}

	.hero_avatar_2_content{
		width: 29rem;
		padding: 3.2rem 6rem 3.4rem 2.9rem;
		background: url(../img/bg-triangle1.png) no-repeat center;
		top: 10.4rem;
		left: -9.5rem;
		background-size: 100% 100%;
	}

	.hero_avatar_2_content h5 {
		font-size: 1.2rem;
		margin-bottom: .8rem;
	}
	
	.hero_avatar_2_content p{
		font-size: 1rem;
	}

	.excelente_wrap{
		padding: 4rem 2rem 3rem 2rem;
		border-radius: 1.6rem;
	}


	.excelente_area .title_box p{
		font-size: 1.3rem;
		margin-top: .5rem;
	}

	.slick-arrow{
		width: 5.2rem;
		height: 5.2rem;
	}

	.slick-arrow img{
		width: 2rem;
	}

	.slick-arrow.mr_10{
		margin-right: .5rem;
	}

	.excelente_area .title_box{
		padding-bottom: 2.5rem;
	}

	.excelente_slider_nav_item {
		padding: 1.3rem 1.5rem;
		border-radius: 1.2rem;
	}

	.excelente_slider_nav_item img{
		width: 6.6rem;
		height: 6.6rem;
		margin-right: 1.4rem;
	}

	.excelente_slider_nav_item h5{
		font-size: 1.8rem;
	}

	.excelente_slider_item h3{
		font-size: 2rem;
	}

	.excelente_slider_nav_item p{
		font-size: 1.5rem;
	}

	.excelente-slider-nav{
		margin-bottom: 1.5rem;
	}

	.excelente_slider_item {
		text-align: center;
	}

	.excelente_slider_item .star {
		margin: 1.4rem auto;
		width: 12rem;
	}

	.excelente_slider_item p {
		font-size: 1.5rem;
	}

	.virtual_assistant_area {
		padding: 5rem 0;
	}

	.virtual_assistant_img1{
		width: 100%;
		margin-bottom: 2.4rem;
	}

	.virtual_assistant_area p.pt_25{
		padding-top: 2.2rem;
	}

	.tasks_wrap{
		margin-top: 5rem;
		padding: 0 1.6rem 3rem 1.6rem;
		background-size: 100% 89%;
	}
	
	.tasks_wrap_img {
		margin-bottom: 1.8rem;
	}

	.tasks_wrap h3 {
		font-size: 2.2rem;
		margin: 2.2rem 0 2.5rem;
	}

	.tasks_wrap h3 br{
		display: none;
	}

	.tasks_wrap .list_group li{
		font-size: 1.6rem;
		background-size: 2.2rem auto;
		background-position: left .2rem;
		padding-left: 3.8rem;
	}

	.tasks_wrap .list_group li:not(:last-child) {
		margin-bottom: 2.3rem;
	}

	.traditional_professions_wrap {
		padding: 0;
		padding-bottom: 3.2rem;
	}

	.traditional_professions_area .list_box{
		padding: 2.6rem 1.8rem 2.4rem 1.8rem;
		border-radius: 1.6rem;
		margin-top: 1.6rem;
	}

	.traditional_professions_area .list_box li{
		font-size: 1.8rem;
		padding-left: 3.4rem;
		background-size: 2rem auto;
		background-position: left .4rem;
	}

	.traditional_professions_area .list_box li:not(:last-child) {
		margin-bottom: 2.4rem;
	}

	.traditional_professions_wrap::before{
		width: calc(100% + 4rem);
		left: -2rem;
		height: 82%;
	}

	.career_area {
		padding: 6rem 0 5rem;
		text-align: center;
	}

	.career_area h2{
		padding-bottom: 1rem;
	}

	.career_icon_box{
		text-align: center;
		position: relative;
		left: unset !important;
		right: unset !important;
		top: unset !important;
		bottom: unset !important;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		padding-bottom: 3.8rem;
		width: 100% !important;
	}

	.career_icon_box:first-child{
		padding-top: 0;
		margin-top: 2rem;
	}

	.career_icon_box:last-child{
		padding-bottom: 0;
	}

	.career_icon_box::before{
/* 		content: ''; */
		position: absolute;
		left: 50%;
		-webkit-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
		        transform: translateX(-50%);
		top: 0;
		width: 1px;
		height: 100%;
		border-left: 1px dashed #CEE9EB;
		z-index: -1;
	}

	.career_icon_box:last-child::before{
		display: none;
	}

	.career_icon_box .icon{
		display: block;
		margin-left: auto !important;
		margin-right: auto !important;
		margin-bottom: 1.8rem;
	}

	.career_icon_box:not(.right) .icon{
		-webkit-box-ordinal-group: 2;
		    -ms-flex-order: 1;
		        order: 1;
	}

	.career_icon_box:not(.right)>div{
		-webkit-box-ordinal-group: 3;
		    -ms-flex-order: 2;
		        order: 2;
		width: 100%;
	}

	.career_icon_box>div{
		width: 100%;
	}

	.career_icon_box:not(.right){
		text-align: center;
	}

	.career_icon_box p br{
		display: none;
	}

	.career_content_wrap{
		width: auto;
	}

	.projects_looking_wrap{
		padding: 2rem;
		padding-bottom: 3rem;
	}

	.projects_looking_img {
		margin-bottom: 8rem;
	}

	.projects_looking_img .img{
		height: 44.7rem;
		-o-object-fit: cover;
		   object-fit: cover;
		border-radius: 1.6rem;
	}

	.party_blk img {
		width: 2.8rem;
		margin-right: 1.2rem;
	}

	.party_blk{
		padding: 1.2rem 1.4rem 1.2rem 1.25rem;
		font-size: 1.2rem;
		top: 2.7rem;
		left: -1rem;
		border-radius: 1.2rem;
	}

	.party_blk p{
		font-size: 1.2rem;
	}

	.projects_looking_img .dot_sh {
		top: -1.2rem;
		margin-right: -1.2rem;
		width: 8.3rem;
	}

	.latest_project_box{
		width: 18.8rem;
		padding: 1.4rem;
		border-radius: 1.6rem;
		top: 50%;
		-webkit-transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		        transform: translateY(-50%);
		right: -1rem;
	}



	.latest_project_box li{
		font-size: 1rem;
	}

	.latest_project_box li .icon{
		width: 3.4rem;
		height: 3.4rem;
		margin-right: 1rem;
	}
	
	.latest_project_box li .icon img{
		width: 1.4rem;
	}

	.latest_project_box li:not(:last-child) {
		margin-bottom: 1.2rem;
	}

	.latest_project_box li:not(:last-child)::before {
		top: 84%;
		left: 1.7rem;
	}

	.projects_looking_img .rating_box{
		padding: 2.4rem;
		left: 1.6rem;
		bottom: -3.8rem;
	}

	.projects_looking_img .rating_box .star {
		width: 12.8rem;
		margin-bottom: 1.8rem;
	}

	.projects_looking_img .icon_list {
		gap: 0 1.4rem;
	}

	.projects_looking_img .icon_list a {
		width: 4rem;
		height: 4rem;
	}

	.projects_looking_img .icon_list a img{
		width: 1.75rem;
	}

	.projects_looking_img .arrow_sh {
		right: -1.7rem;
		bottom: 4rem;
		width: 3rem;
		z-index: -1;
	}

	.projects_looking_area .list_group li{
		font-size: 1.7rem;
		background-size: 2.2rem auto;
		padding-left: 3.4rem;
		background-position: left .2rem;
	}

	.singup_banner_area {
		padding: 6.4rem 0;
	}

	.singup_banner_content{
		margin-top: -17rem;
		padding: 20rem 1.9rem 3rem 1.9rem;
		border-radius: 1.6rem;
		margin-left: 0;
	}

	.singup_banner_img{
		-o-object-fit: cover;
		   object-fit: cover;
		width: calc(100% - 1rem);
		height: 23.4rem;
		border-radius: 1.6rem;
	}

	.singup_banner_content .primary_button{
		font-size: 1.6rem;
		padding: 1.8rem 2.3rem;
		margin-top: 4rem;
	}
	
	.singup_banner_content h2{
		font-size: 2.8rem;
	}

	.singup_banner_content::before {
		height: 83%;
		bottom: -1.4rem;
		left: -1.4rem;
	}

	.singup_banner_area .sh {
		bottom: 38rem;
		width: 6rem;
	}
	
	.virtap_about_img{
		height: 35.2rem;
		-o-object-fit: cover;
		   object-fit: cover;
		border-radius: 1.6rem;
	}

	.virtap_about_img_blk::before {
		left: -1.4rem;
		bottom: -1.4rem;
		height: 19rem;
		border-radius: 1.6rem;
	}

	.virtap_about_img_blk{
		padding-left: 0;
		margin-bottom: 7rem;
	}

	.virtap_about_img_blk .icon_box_blk {
		top: 2.6rem;
		left: -1rem;
	}

	.virtap_about_img_blk .icon_box{
		width: 26.5rem;
		padding: .9rem;
		padding-right: 1.2rem;
		border-radius: 1.2rem;
		font-size: 1.3rem;
		margin-top: .8rem;
	}

	.virtap_about_img_blk .icon_box .icon{
		width: 4rem;
		height: 4rem;
		margin-right: 1rem;
	}

	.virtap_about_img_blk .avatar_list {
		right: -1rem;
		bottom: -7.2rem;
		width: 20rem;
	}

	.virtap_about_img_blk .dot_sh {
		left: -.5rem;
		bottom: -1rem;
		width: 8rem;
	}
	
	.virtap_about_content .icon{
		display: inline-block;
	}

	.virtap_about_content >div{
		margin-top: 3rem;
		text-align: center;
	}

	.virtap_about_content h3 {
		font-size: 2.5rem;
		margin-bottom: .85rem;
	}

	.go_much_area .title{
		padding: 0;
	}

	.go_much_area .sh{
		width: 15rem;
	}

	.go_much_img {
		width: 100%;
		margin-top: 3.5rem;
	}

	.testimonial_area h2{
		padding-bottom: 2.4rem;
	}

	.testimonial_wrap {
		padding: 4rem 1.5rem 3rem 1.5rem;
		border-radius: 1.6rem;
	}

	.testimonial_card {
		padding: 3rem;
		margin: 0 .5rem;
	}

	.testimonial_card .rating{
		width: 15.4rem;
	}

	.testimonial_text{
		margin: 3.9rem 0 3rem;
		font-size: 1.8rem;
	}

	.testimonial_avatar img{
		width: 9.4rem;
		height: 9.4rem;
	}

	.testimonial_avatar h3 {
		font-size: 2.3rem;
		margin: 1.8rem 0 1.3rem;
	}

	.testimonial_avatar p{
		font-size: 1.7rem;
	}

	.testimonial_slider_nav{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		padding-top: 6.4rem;
	}

	.testimonial_slider_nav .slick-arrow {
		position: unset;
		width: 6rem;
		height: 6rem;
		margin: 0 .6rem;
	}

	.testimonial_slider_nav .slick-arrow.slick-disabled{
		width: 5.2rem;
		height: 5.2rem;
	}

	.courses_area {
		padding: 5rem 0 4.6rem;
	}
	
	.courses_area h2{
		padding-bottom: .8rem;
	}

	.courses_wrap {
		padding: 0;
		padding-bottom: 3rem;
	}

	.courses_wrap::before{
		width: calc(100% + 4rem);
		left: -2rem;
	}

	.course_card{
		padding: 1.2rem;
		border-radius: 2rem;
		margin-top: 1.4rem;
	}

	.course_card_img{
		border-radius: 2rem;
	}

	.course_card_body {
		padding: 1.8rem .8rem .6rem .8rem;
	}

	.course_card h3{
		font-size: 2.1rem;
	}

	.course_card .primary_button{
		font-size: 1.5rem;
		padding: 2rem 1.8rem;
		margin: 2.4rem 0 2rem;
	}

	.course_card .primary_button::after{
		top: .8rem;
		left: 1.9rem;
		height: 100%;
		width: 95.5%;
	}

	.course_card .bottom{
		font-size: 1.4rem;
	}

	.pricing_wrap{
		padding: 0;
	}

	.pricing_area .title_box{
		margin-top: 3rem;
	}

	.pricing_area .title_box::before{
		width: 37.4rem;
		height: 37.4rem;
		left: -7.7rem;
	}

	.pricing_area .title_box h2{
		margin-bottom: 1.2rem;
	}

	.pricing_card {
		margin-top: 2.4rem;
		padding: 2rem;
		padding-bottom: 3rem;
		border-radius: 1.6rem;
	}

	.pricing_card .top h3{
		font-size: 3.4rem;
	}

	.pricing_card .top p {
		font-size: 2rem;
	}

	.pricing_card .list_group li{
		padding-left: 3.6rem;
		font-size: 1.8rem;
		color: #363636;
		background-size: 2.2rem auto;
		background-position: left .3rem;
	}

	.pricing_card .secondary_button{
		width: 25.3rem;
		padding: 2.2rem;
		font-size: 2.2rem;
		margin-top: 3.6rem;
	}

	.pricing_card .secondary_button.mt_175 {
		margin-top: 3.6rem;
	}

	.faq_area {
		padding: 5rem 0;
	}

	.faq_wrap{
		padding: 4rem 2rem 3rem 2rem;
		border-radius: 1.6rem;
	}

	.faq_area h2{
		padding-bottom: .8rem;
	}

	.accordion-item{
		padding: 2.2rem 2rem 2rem 2.2rem;
		border-radius: 1.6rem;
		margin-top: 1.6rem;
	}

	.accordion-body{
		font-size: 1.6rem;
		padding-top: 1.6rem;
		margin-top: 1.6rem;
	}

	.blog_area {
		padding-bottom: 5rem;
	}

	.blog_area h2{
		padding: 0;
	}
	
	.blog_card {
		margin-top: 3rem;
	}

	.blog_card .blog_img{
		margin-bottom: 2rem;
		height: 25rem;
		-o-object-fit: cover;
		   object-fit: cover;
	}

	.blog_card.hr {
		display: block;
	}

	.blog_card.hr .blog_img{
		width: 100%;
		margin-right: 0;
		margin-bottom: 2rem;
	}

	.blog_card p {
		font-size: 1.6rem;
		margin-bottom: 1.2rem;
	}

	.blog_card h3 {
		font-size: 2.4rem;
	}

	.youtube_area .title_box{
		margin-bottom: 2.4rem;
		padding-bottom: 2.4rem;
	}

	.youtube_wrap {
		background: #fff;
		padding: 3.4rem 2rem 3.8rem 2rem;
		border: 1px solid #C4DCDE;
		-webkit-box-shadow: .2rem .3rem 2.8rem rgba(206, 223, 224, 0.29);
		        box-shadow: .2rem .3rem 2.8rem rgba(206, 223, 224, 0.29);
		border-radius: 1.6rem;
	}

	.youtube_video_blog video {
		height: 25rem;
		border-radius: 1.6rem;
	}

	.youtube_video_blog h3{
		font-size: 2rem;
		width: 100%;
		margin: 1.8rem 0 2rem;
	}

	.youtube_video_blog_body{
		display: block;
		padding: 0;
	}

	.youtube_video_blog .primary_button{
		padding: 1.4rem 3.3rem;
		color: #fff;
		margin-bottom: 1rem;
	}

	.youtube_video_blog .primary_button::before{
		background: -webkit-gradient(linear, left top, left bottom, from(#6D48A4), to(#532E88));
		background: -o-linear-gradient(top, #6D48A4 0%, #532E88 100%);
		background: linear-gradient(180deg, #6D48A4 0%, #532E88 100%);
	}

	.youtube_video_blog .primary_button:hover::before{
		background: -webkit-gradient(linear, left bottom, left top, from(#6D48A4), to(#532E88));
		background: -o-linear-gradient(bottom, #6D48A4 0%, #532E88 100%);
		background: linear-gradient(0deg, #6D48A4 0%, #532E88 100%);
	}

	.youtube_video_blog .primary_button::after{
		border-color: #131313;
		left: 1.7rem;
		bottom: -.8rem;
		width: 95%;
	}

	.youtube_area .slick-arrow {
		width: 6rem;
		height: 6rem;
	}

	.youtube_area .slick-arrow.mr_15{
		margin-right: 1.2rem;
	}

	.youtube_area .slick-disabled {
		width: 5.2rem;
		height: 5.2rem;
	}

	.site_footer {
		padding: 5rem 0 3.2rem;
	}

	.footer_logo {
		width: 16.5rem;
		margin-bottom: 2.4rem;
	}

	.site_footer p{
		font-size: 1.7rem;
	}

	.footer_widget {
		margin-top: 3.4rem;
	}

	.site_footer h4 {
		font-size: 1.6rem;
	}

	.footer_link{
		padding-top: 1.8rem;
	}

	.footer_link li {
		margin-bottom: 1.4rem;
	}

	.footer_link a {
		font-size: 1.3rem;
	}

	.footer_inner_row{
		--bs-gutter-x: 7rem
	}

	.site_footer p.copyright {
		font-size: 1.3rem;
	}

	.footer_dot_sh{
		bottom: unset;
		top: 15.7rem;
		width: 2rem;
		left: -.7rem;
	}

	.footer_sh{
		width: 9rem;
	}

	.footer_arrow_sh {
		right: 3rem;
		bottom: 11rem;
		width: 6rem;
	}

	.circle_sh1{
		display: none;
	}

	.circle_sh2{
		width: 10rem;
		height: 10rem;
		right: -2.6rem;
		bottom: 6.3rem;
	}

	.duble_cirle {
		left: 62%;
		bottom: 55%;
		width: 2rem;
	}

	.single_dot_sh1 {
		bottom: 37rem;
		left: 28%;
	}

	.single_dot_sh2 {
		left: unset;
		right: 4.7rem;
		bottom: 32rem;
	}

	.back-to-top{
		right: 2rem;
		bottom: 2rem;
	}

	.login_area .left .login1_img {
		width: 25rem;
		margin-bottom: 2.5rem;
	}

	.login_area h2{
		font-size: 2.3rem;
		padding: 0 2rem;
	}
	
	.login_area .left{
		padding: 5rem 0 5.2rem;
	}

	.login_area .sh4 {
		top: -4.5rem;
		width: 2.5rem;
	}
	
	.login_area .right{
		padding: 4.8rem 0 5rem;
	}

	.login_site_logo {
		width: 13rem;
	}

	.login_area h3{
		font-size: 2rem;
		margin: 3.5rem 0 4rem;
	}

	.login_btn{
		font-size: 1.7rem;
		padding: 1.4rem 6.2rem;
		border-radius: 1.2rem;
	}

	.login_btn img {
		width: 2.6rem;
		margin-right: 1.6rem;
	}

	.login_area .bottom {
		font-size: 1.3rem;
		margin-top: 6.4rem;
	}

	.login_area .sh1{
		width: 3.5rem;
	}

	.login_area .sh3{
		width: 3rem;
	}

	.login_area .left .login2_img {
		width: 25rem;
		margin-bottom: 1rem;
	}

	.login_area .left{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		height: 52vh;
	}

}


@media (max-width: 480px) {

	html{
		font-size: 2.66vw;
	}

	.mobile_p_0{
		padding-left: 0;
		padding-right: 0;
	}

	.hero_button{
		width: 100%;
	}

}

