/* ---------------- fonts ------------------ */
@font-face {
  font-family: "Be Vietnam Pro";
  src: url("../fonts/BeVietnamPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Be Vietnam Pro";
  src: url("../fonts/BeVietnamPro-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Be Vietnam Pro";
  src: url("../fonts/BeVietnamPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Be Vietnam Pro";
  src: url("../fonts/BeVietnamPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Be Vietnam Pro";
  src: url("../fonts/BeVietnamPro-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Be Vietnam Pro";
  src: url("../fonts/BeVietnamPro-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Be Vietnam Pro";
  src: url("../fonts/BeVietnamPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* ---------------- Basic css ------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  scroll-behavior: smooth;
  --white: #ffffff;
  --black: #000000;
  --body: #545454;
  --blue: #532e88;

  --white_img: brightness(0) saturate(100%) invert(99%) sepia(0%)
    saturate(7498%) hue-rotate(67deg) brightness(112%) contrast(100%);
  --black_img: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(16%);

  --blueGradient: linear-gradient(93.52deg, #7047ac 0%, #532e88 100%);

  --primaryfont: "Be Vietnam Pro";

  --shadow: 0.4rem 0.4rem 1.5rem 0.1rem rgba(0, 0, 0, 0.2);
  --shadowMain: 0.2rem 0.3rem 3rem 0 #a58dc814;

  --menuHeight: 8rem;
}

img {
  width: 100%;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
i,
ol,
ul,
li,
form,
label,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none !important;
  transition: 200ms;
  color: inherit;
  display: inline-block;
}

.f-right {
  float: right;
}
button:focus,
a:focus,
input:focus,
textarea:focus {
  outline: none;
}

button {
  background: none;
  border: none;
  outline: none;
  padding: 0;
}

/* body */
body {
  font-size: 2rem;
  line-height: 3.6rem;
  font-weight: 400;
  color: var(--body);
  font-family: var(--primaryfont);
  background: #ffffff;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0;
}

main {
  position: relative;
  width: 100%;
}

.figure img,
.figure {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: var(--primaryfont);
  color: #101010;
}

.text-white {
  color: var(--white) !important;
}

/* image colros */
.white_img {
  -webkit-filter: brightness(0) saturate(100%) invert(99%) sepia(0%)
    saturate(7498%) hue-rotate(67deg) brightness(112%) contrast(100%);
  filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(7498%)
    hue-rotate(67deg) brightness(112%) contrast(100%);
}
.black_img {
  -webkit-filter: brightness(0) saturate(100%) invert(0%) sepia(0%)
    saturate(16%) hue-rotate(309deg) brightness(93%) contrast(107%);
  filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(16%)
    hue-rotate(309deg) brightness(93%) contrast(107%);
}

.text_blue {
  color: var(--blue) !important;
}

/* Font Weights */
.f_300 {
  font-weight: 300 !important;
}
.f_400 {
  font-weight: 400 !important;
}
.f_500 {
  font-weight: 500 !important;
}
.f_600 {
  font-weight: 600 !important;
}
.f_700 {
  font-weight: 700 !important;
}
.f_800 {
  font-weight: 800 !important;
}
.f_900 {
  font-weight: 900 !important;
}

/* titles */
.title_50 {
  font-weight: 700;
  font-size: 5.5rem;
  line-height: 1.3;
}

.title_42 {
  font-weight: 700;
  font-size: 4.2rem;
  line-height: 1.3;
}

.title_32 {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 1.3;
}

.title_24 {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.3;
}

.title_22 {
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 1.3;
}

.title_20 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.3;
}

/* texts */
.text_xl {
  font-size: 2rem;
}
.text_lg {
  font-size: 1.8rem;
}
.text_md {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.text_sm {
  font-size: 1.4rem;
}
.text_xsm {
  font-size: 1.2rem;
}

.text_italic {
  font-style: italic !important;
}

.underline {
  position: relative;
}

.underline::before {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.2rem;
  background: #ffffff;
  width: 100%;
  content: "";
}

.underline.underline_blue::before {
  background: #0c8fe8;
}


/* icons size */
.icon_10 {
  width: 1rem;
}
.icon_12 {
  width: 1.2rem;
}
.icon_14 {
  width: 1.4rem;
}
.icon_16 {
  width: 1.6rem;
}
.icon_18 {
  width: 1.8rem;
}
.icon_20 {
  width: 2rem;
}
.icon_22 {
  width: 2.2rem;
}
.icon_24 {
  width: 2.4rem;
}
.icon_26 {
  width: 2.6rem;
}
.icon_28 {
  width: 2.8rem;
}
.icon_30 {
  width: 3rem;
}
.icon_32 {
  width: 3.2rem;
}
.icon_34 {
  width: 3.4rem;
}
.icon_36 {
  width: 3.6rem;
}

/* ========================= #Progress  ========================= */
.progress-wrap {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  height: 5.5rem;
  width: 5.5rem;
  cursor: pointer;
  display: block;
  border-radius: 100rem;
  box-shadow: inset 0 0 0 0.2rem rgba(0, 0, 0, 0.1);
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(1.5rem);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  background: #fff;
}
.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.progress-wrap::after {
  position: absolute;
  content: "";
  text-align: center;
  background: url(../img/top_arrow.svg) no-repeat scroll top left / 1.5rem
    2.5rem;
  left: 50%;
  top: 50%;
  height: 2.5rem;
  width: 1.5rem;
  cursor: pointer;
  display: block;
  z-index: 1;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  opacity: 1;
  transform: translate(-50%, -50%);
  filter: brightness(0) saturate(100%) invert(17%) sepia(74%) saturate(1557%)
    hue-rotate(244deg) brightness(98%) contrast(95%);
}
.progress-wrap svg path {
  fill: none;
}
.progress-wrap svg.progress-circle path {
  stroke: var(--blue);
  stroke-width: 0.5rem;
  box-sizing: border-box;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

/* ==================== button area ==================== */
.button {
  position: relative;
  height: 6.6rem;
  font-size: 2.2rem;
  border-radius: 10rem;
  padding: 0.7rem 0.7rem 0.7rem 3.2rem;
  box-shadow: none;
  font-weight: 600;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transition: 0.35s ease !important;
}

.button span {
  position: relative;
  z-index: 2;
}

.button:not(.button_transparent):before {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--blueGradient);
  transition: 0.35s ease !important;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  border-radius: 10rem;
  z-index: 0;
}

.button:not(.button_transparent):after {
  content: "";
  width: 100%;
  height: 100%;
  background: #703fb9;
  transition: 0.35s ease !important;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 1;
  border-radius: 10rem;
}

.button:not(.button_transparent):hover:after {
  opacity: 1;
}

.button:hover {
  box-shadow: 0.4rem 0.4rem 1.5rem 0.1rem rgba(0, 0, 0, 0.3);
  background: #703fb9;
}

.button_transparent {
  background: transparent;
  color: #532e88;
  border: 0.1rem solid #532e88;
}

.button_transparent:hover {
  background: #ffffff;
}

.button_icon {
  width: 5.2rem;
  height: 5.2rem;
  background: #fff;
  border-radius: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3.2rem;
  transition: 0.25s ease;
  border: 0.1rem solid #fff;
}

.button_icon img {
  width: 3.2rem;
}

.button_transparent .button_icon {
  background: #532e88;
}

.button_transparent .button_icon img {
  filter: var(--white_img);
}

/* -------------- Header Styles by Sahriar --------------- */
.site_header {
  padding: 0;
  position: sticky;
  z-index: 99999;
  width: 100%;
  top: 0;
  left: 0;
  transition: all 0.4s ease;
  height: var(--menuHeight);
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 0.2rem 0.3rem 3rem 0 #ad95cf29;
}

.logo img {
  width: 14rem;
}

.header_right a {
  height: 5rem;
  font-size: 1.8rem;
  padding: 0 2.6rem;
}

.header_right .button {
  padding: 0 3.7rem;
}

.header_right {
  gap: 1.2rem;
}

/* ================== Hero area ================== */
.hero_area {
  padding: 4rem 0 14rem;
  background: linear-gradient(180deg, #ffffff 7.38%, #f9f5ff 97.98%);
}

.hero_area .row {
  --bs-gutter-x: 5rem;
}

.curvy_arrow {
  width: 9.8rem;
}

.hero_content p {
  font-size: 2.6rem;
  font-weight: 400;
  color: #363636;
  line-height: 1.45;
}

.hero_content {
  max-width: 70rem;
  padding-top: 2.2rem;
}

.hero_content h1 span {
  position: relative;
  display: inline-block;
}

.text_line {
  position: absolute;
  left: 0;
  bottom: -0.5rem;
}

.curvy_line {
  width: 95.5rem;
  position: absolute;
  right: 0;
  z-index: -1;
  top: 17rem;
}

.hero_content .title_50 {
  text-transform: none;
}

/* rotate_40 */
.rotate_40 {
  animation: rotate40 2s linear infinite;
}

@keyframes rotate40 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* =================== Review area =================== */
.review_img img {
  box-shadow: 0.2rem 0.3rem 3rem 0 #a58cc726;
  border-radius: 10rem;
  width: 6.6rem;
  height: 6.6rem;
  border: 0.1rem solid #fff;
}

.review_img {
  margin-top: -6.3rem;
}

.review_slider {
  max-width: 134rem;
  margin: 0 auto;
}

.review_area {
  position: relative;
  margin-top: -13.8rem;
  padding-bottom: 10rem;
}

.review_box {
  border: 0.1rem solid #f2eafd;
  border-radius: 2.4rem;
  background: #fff;
  box-shadow: var(--shadowMain);
  transition: 0.25s ease;
}

.review_box:hover {
  transform: scale(1.02) translateY(0.2rem);
}

.review_box p {
  max-width: 24.1rem;
  color: #545454;
  line-height: 3rem;
  font-size: 2rem;
}

.review_bottom {
  border-top: 0.1rem solid #f1ecf8;
}

.review_bottom a {
  color: #1f1f1f;
  font-size: 1.8rem;
  font-weight: 600;
  transition: 0.25s;
}

.review_bottom a:hover {
  color: #8bced3;
}

.review_slider .owl-stage-outer {
  padding: 3.5rem 0 0 0;
}

.slider_arrow {
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10rem;
  background: #fff;
  border: 0.1rem solid #ede7f6;
  transition: 0.25s ease;
}

.slider_arrow:hover {
  background: #f1f1f1;
}

.review_slider .owl-nav {
  position: absolute;
  top: calc(50% + 0.75rem);
  width: calc(100% + 16rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 0;
}

/* ================== Certificate area ================= */
.certificate_content {
  padding: 7rem 4.4rem 6rem 4.4rem;
  background: linear-gradient(180deg, #f8f4ff 0%, rgba(248, 244, 255, 0) 100%);
  border-radius: 3rem;
}

.certificate_row {
  padding: 0 7.2rem 0 4.2rem;
  align-items: center;
  --bs-gutter-x: 8rem;
}

/* ================== Service area ================= */
.service_number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7.8rem;
  height: 7.8rem;
  border-radius: 10rem;
  border: 0.1rem solid #532e88;
  font-size: 2.8rem;
  font-weight: 700;
  color: #532e88;
  position: absolute;
  background: #fff;
  left: 50%;
  transform: translateX(-50%);
  top: -3.9rem;
}

.service_wrap {
  position: relative;
  height: 29.7rem;
  border-radius: 2rem;
  border: 0.1rem solid #f2eafd;
  padding: 6.5rem 2.3rem 2rem 2.4rem;
  background: #fff;
  transition: 0.35s;
}

.service_box {
  position: relative;
  height: 100%;
}

.service_icon_bg {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  display: block;
  width: 10.2rem;
  height: 10.2rem;
  background: #f2eaff;
  border-radius: 10rem;
  top: -5.1rem;
  z-index: -1;
}

.service_content h4 {
  height: 6rem;
  text-align: center;
}

.service_content p {
  line-height: 2.8rem;
  color: #545454;
  text-align: center;
  padding-top: 1.6rem;
}

.services_area .row {
  --bs-gutter-x: 1.6rem;
  --bs-gutter-y: 1.6rem;
}

/* .service_box .service_wrap:hover {
  box-shadow: var(--shadow);
}

.service_box:hover .service_icon_bg {
  transform: translateX(-50%) scale(1.1);
  background: #532e88;
} */

/* ====================== platform_area ======================= */
.triple_arrow {
  width: 2.3rem;
}

.triple_list li {
  display: grid;
  grid-template-columns: 0fr 1fr;
  gap: 1rem;
  color: #1f1f1f;
  line-height: 3rem;
}

.triple_list li img {
  margin-top: 0.85rem;
}

.triple_list {
  display: grid;
  gap: 2.8rem;
}

.platform_area .row {
  --bs-gutter-x: 1.7rem;
  padding: 7rem 5rem 7rem 6rem;
  background: #effafb;
  border-radius: 3rem;
}

.platform_area .content h2 {
  max-width: 61.3rem;
}

.platform_area .content > p {
  max-width: 59.9rem;
}

/* == pp update == */
.platform_point {
  border-radius: 2.6rem;
  padding: 2.2rem 3rem;
  background: #fff;
  position: relative;
  box-shadow: 0.2rem 0.4rem 4rem 0.1rem #00000020;
  width: 73.4rem;
}

.platform_point p {
  line-height: 1;
  font-size: 1.6rem;
  line-height: 2.8rem;
}

.pp_btn {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  background: linear-gradient(93.52deg, #7047ac 0%, #532e88 100%);
  padding: 0 3.4rem;
  color: #fff;
  font-size: 1.6rem;
  border-radius: 1.2rem;
  position: absolute;
  right: 3rem;
  top: 3.2rem;
  cursor: default;

}

.pp_btn:hover {
  /* opacity: 0.85; */
}

.platform_points {
  display: grid;
  gap: 1.6rem;
  position: absolute;
  left: 1.6rem;
  top: 4.7rem;
}

.platform_point:nth-child(2) {
  margin-left: 2.8rem;
}

.platform_point:nth-child(3) {
  margin-left: 7.4rem;
}

.plat_form_right {
  position: relative;
}

.plat_form_right > img {
  width: 97.4rem;
}

/* ================ Mentorios area =================== */
.mentorios_img {
  position: relative;
  max-width: 53.7rem;
}

.mentorios_area .col-lg-9 {
  width: 138.4rem;
}

.mentorios_area .container .row .row {
  --bs-gutter-x: 10rem;
}

.Mentorias_shape {
  width: 109.2rem;
  position: absolute;
  right: -14.4rem;
  z-index: -1;
  top: -15.5rem;
}

.mentorios_area .content {
  max-width: 57.3rem;
  margin-left: auto;
}

.mentorios_area {
  padding: 31.1rem 0 19rem;
}

/* =============== ativa_area ================ */

.ativa_area {
  padding-bottom: 24.7rem;
}

.ativa_img {
  position: relative;
  max-width: 55.8rem;
  margin-left: auto;
}

.ativa_area .content {
  max-width: 52.3rem;
}

.ativa_shape {
  width: 117.4rem;
  position: absolute;
  top: -20.6rem;
  left: -16rem;
  z-index: -1;
}

/* =============== extras_area ================ */
.extras_area .row {
  padding: 0 12.5rem;
}

.extras_area .content {
  position: relative;
  max-width: 51.5rem;
  margin-left: auto;
}

.extras_shape {
  width: 138.4rem;
  position: absolute;
  right: -14rem;
  z-index: -1;
  top: -19.4rem;
}

.extras_area {
  padding-bottom: 10rem;
}

.extras_img {
  width: 85.1rem;
}

.extras_area .col-lg-7 {
  position: relative;
  z-index: 1;
}

/* ===================== tras_area ====================== */
.tras_area .content {
  max-width: 63.6rem;
}

.tras_img {
  max-width: 72.6rem;
  margin-left: auto;
}

.tras_area {
  padding-bottom: 10rem;
}

/* ================== assistent_area ===================== */
.assistent_area {
  padding-bottom: 10rem;
}

.assistente_circle {
  width: 37rem;
}

.assistent_points_wrap {
  width: fit-content;
  position: relative;
  margin: 0 auto;
}

.assistent_points {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
  display: block;
}

.assistent_icon {
  width: 6.6rem;
  height: 6.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1rem solid #cfe6e8;
  border-radius: 10rem;
  background: #ffffff;
}

.assistent_points_list_left {
  height: 42rem;
  display: grid;
  grid-template-rows: 0fr 0fr 0fr;
  align-content: space-between;
  width: fit-content;
  position: absolute;
  left: -28.5rem;
  top: calc(50% + 2rem);
  transform: translateY(-50%);
}

.assistent_point {
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
  gap: 2.9rem;
  height: 11rem;
}

.assistent_icon {
  flex: 0 0 auto;
}

.assistent_point6:nth-child(2) {
  padding-right: 7.5rem;
}

.assistent_point1 .assistente_info {
  width: 22.8rem;
}

.assistent_point5 .assistente_info {
  width: 30rem;
}

.assistent_point6 .assistente_info {
  width: 21rem;
}

.assistent_point3:nth-child(2) {
  padding-left: 7.5rem;
}

.assistent_points_list_right .assistent_point {
  flex-direction: row;
  text-align: left;
}

.assistent_point2 .assistente_info {
  width: 30.1rem;
}

.assistent_point3 .assistente_info {
  width: 23.8rem;
}

.assistent_point4 .assistente_info {
  width: 29.1rem;
}

.assistent_points_list_right {
  height: 42rem;
  display: grid;
  grid-template-rows: 0fr 0fr 0fr;
  width: fit-content;
  position: absolute;
  right: -30rem;
  top: calc(50% + 2rem);
  transform: translateY(-50%);
  align-content: space-between;
}

.assistente_info .title_20 {
  font-weight: 600;
  white-space: nowrap;
}

.assistent_points_right {
  padding: 4rem 0 9rem;
  background: #fff;
  border-radius: 3rem;
}

.assistent_content {
  padding: 5rem 5rem 5rem 6rem;
  background: #effafb;
  border-radius: 3rem;
}

.assistent_content .row {
  --bs-gutter-x: 6rem;
  --bs-gutter-y: 2rem;
}

/* ================== Voce_area ===================== */
.voce_area {
  padding-bottom: 10rem;
}

.voce_icon img {
  width: 8.4rem;
}

.voce_icon {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.voce_box p {
  text-align: center;
}

.voce_box p {
  font-size: 1.8rem;
  color: #363636;
  font-weight: 500;
  line-height: 2.8rem;
}

.voce_content {
  padding: 6rem 12.6rem;
}

.bg_one {
  background: #effafb;
  border-radius: 3rem;
}

.voce_box1 p {
  max-width: 20.9rem;
}

.voce_box p {
  margin: 0 auto;
}

.voce_box2 p {
  max-width: 23rem;
}

.voce_box3 p {
  max-width: 23rem;
}

.voce_box4 p {
  max-width: 20.9rem;
}

.voce_box5 p {
  max-width: 20.7rem;
}

.voce_box6 p {
  max-width: 23.9rem;
}

.voce_content .row {
  --bs-gutter-x: 1.5rem;
  gap: 9rem 0;
  position: relative;
}

.voce_content .row:before {
  content: "";
  width: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  background: #deeced;
  position: absolute;
  height: 0.1rem;
}

.voce_content .row .col-lg-4 {
  position: relative;
}

.voce_content .row .col-lg-4:before {
  content: "";
  height: 35.8rem;
  width: 0.1rem;
  background: #deeced;
  position: absolute;
  right: 0;
  top: 10.7rem;
  opacity: 0;
}

.voce_content .row .col-lg-4:nth-child(1):before,
.voce_content .row .col-lg-4:nth-child(2):before {
  opacity: 1;
}

/* ====================== Tab area ======================= */
.table_area {
  padding-bottom: 10rem;
}

th {
  font-size: 2.4rem;
  color: #101010;
}

.table_wrap {
  background: #f8f4ff;
  padding: 5rem;
  border-radius: 3rem;
}

.col1 {
  width: 66.6rem;
}

.td_title {
  font-size: 1.8rem;
  line-height: 3rem;
  color: #545454;
  font-weight: 600;
}

.col1 {
  padding: 2.2rem 0 2.2rem 4.9rem;
  background: #fff;
}

table {
  background: transparent;
}

.table_main {
  background: #fff;
  border-radius: 4rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0.2rem 0.3rem 3rem rgb(163, 143, 191, 0.11);
}

.th1.col1 {
  padding: 3.4rem 0 3rem 4.9rem;
}

.col3,
.col2 {
  width: 38.2rem;
  text-align: center;
  position: relative;
}

.col2 {
  background: #532e88;
  color: #fff;
}

tbody tr:last-child .col2 {
  border-bottom-left-radius: 4rem;
}

thead tr:first-child .col2 {
  border-top-left-radius: 4rem;
}

thead tr:first-child .col3 p {
  border-right: 0.1rem solid #532e88;
  border-top: 0.1rem solid #532e88;
  border-top-right-radius: 4rem;
  padding: 3.4rem 0 3rem;
}

.col3,
tbody tr:last-child .col3 .tik {
  border-right: 0.1rem solid #532e88;
}

thead tr:first-child .col3,
tbody tr:last-child .col3 {
  border-right: 0;
}

tbody tr:last-child .col3 .tik {
  border-bottom: 0.1rem solid #532e88;
  border-bottom-right-radius: 4rem;
  padding: 2.2rem 0 2.2rem;
}

.lamp_icon {
  height: 9.2rem;
  width: 9.2rem;
  border-radius: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffff;
  flex: 0 0 auto;
}

.lamp_icon img {
  width: 4.6rem;
}

.lamp_wrap {
  gap: 4rem;
  font-size: 2.2rem;
  font-weight: 500;
  color: #545454;
  padding: 1.8rem;
  background: #dff4f5;
  border-radius: 2.5rem;
  margin-top: 4rem;
}

.lamp_wrap p {
  line-height: 3.8rem;
}

.table_main:before {
  content: "";
  width: 60%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border: 0.1rem solid #e6d5ff;
  background: transparent;
  border-radius: 4rem;
  border-right: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.td_title:before {
  background: #e8e2ef;
  height: 0.1rem;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  content: "";
  top: -2.5rem;
  opacity: 1;
}

.tik:before {
  background: #e8e2ef;
  height: 0.1rem;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  content: "";
  top: -2.2rem;
  opacity: 1;
}

.col2 .tik:before {
  top: 0;
}

tbody tr:last-child .col3 .tik:before {
  top: 0;
}

.col2 .tik:before {
  background: #653ba2;
}

.td_title {
  padding-left: 4.9rem;
}

.td_title,
.tik {
  position: relative;
}

.td1.col1 {
  padding-left: 0;
}

.col2 .tik {
  padding: 2.2rem 0;
}

/* ====================  Access area ================== */
.oferta {
  background: #f8f4ff;
  border-radius: 3rem;
  padding: 2rem;
  border: 0.1rem solid #e6d5ff;
  width: 34.2rem;
}

.oferta h4 {
  color: #363636;
  font-weight: 600;
  text-transform: uppercase;
}

.oferta_icon {
  width: 8rem;
  height: 8rem;
  display: flex;
  align-items: center;
  background: #ffffff;
  border-radius: 2rem;
  flex: 0 0 auto;
  justify-content: center;
}

.oferta_icon img {
  width: 4.6rem;
}

.access_content .content h3 {
  color: #532e88;
  font-size: 2.6rem;
  line-height: 3.8rem;
  font-weight: 700;
}

.access_content .row {
  --bs-gutter-x: 0;
  align-items: center;
}

.access_main {
  display: grid;
  grid-template-columns: 49rem 1fr;
  background: #532e88;
  padding: 3rem 5rem 3rem 3rem;
  border-radius: 4rem;
  gap: 6rem;
  align-items: center;
}

.access_left {
  border-radius: 3rem;
}

.access_left h5 {
  font-size: 3.4rem;
  line-height: 4.4rem;
  color: #363636;
  font-weight: 600;
  text-decoration: line-through;
}

.access_left .p1 {
  font-size: 4rem;
  color: #532e88;
  font-weight: 800;
  line-height: 6rem;
}

.access_left .p2 {
  font-size: 2.4rem;
  color: #363636;
  line-height: 3.4rem;
  font-weight: 600;
}

.open_wrap {
  padding: 2.4rem 2.8rem;
  border-radius: 3rem;
  background: #f8f4ff;
  border: 0.1rem solid #b29cd0;
}

.open_wrap > p {
  font-size: 2rem;
  color: #363636;
  line-height: 2.8rem;
  font-weight: 600;
  padding-bottom: 2.2rem;
  text-align: center;
  white-space: nowrap;
}

.open_input input {
  height: 6.6rem;
  padding: 0 12.5rem 0 2.2rem;
  width: 100%;
  border: 0;
  border-radius: 1.6rem;
  color: #363636;
  font-size: 2rem;
}

.open_input input::placeholder {
  color: #363636;
  font-size: 2rem;
}

.clock_wrap {
  font-size: 1.8rem;
  color: #1f1f1f;
  font-weight: 600;
  gap: 0.6rem;
  width: fit-content;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2.2rem;
}

.open_input {
  position: relative;
}

.clock_wrap p {
  line-height: 1;
}

.access_icon {
  width: 6rem;
  height: 6rem;
  border-radius: 1.6rem;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
}

.access_point {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: #fff;
  font-weight: 500;
  border-top: 0.1rem solid #8b6aba;
}

.access_content {
  padding: 5rem 5rem 5rem 7rem;
  border-radius: 4rem;
  border: 0.1rem solid #e6d5ff;
  background: #fff;
  box-shadow: var(--shadowMain);
}

.access_area {
  padding-bottom: 10rem;
}

/* ================== Faq area ================= */
.faq_area {
  padding-bottom: 12.7rem;
}

.faq_arrow {
  width: 6.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6.6rem;
  border-radius: 10rem;
  background: #faf8ff;
  flex: 0 0 auto;
}

.accordion_title {
  font-weight: 600;
  color: #1f1f1f;
  font-size: 2rem;
  line-height: 1.5;
}

.accordion-body p {
  font-size: 1.8rem;
  line-height: 1.5;
}

.accordion_button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2.6rem 3rem 2.6rem 3.4rem;
  background: #fff;
  border-radius: 3rem;
  gap: 3rem;
  text-align: left;
}

.accordion {
  display: grid;
  gap: 1.6rem;
}

.accordion_item {
  background: #fff;
  border-radius: 3rem;
  border: 0.1rem solid #e7e1f0;
  pointer-events: all;
}

.accordion_item.active {
  border-color: #532e88;
}

.accordion-body {
  padding: 2.2rem 14.2rem 3rem 0;
  border-top: 0.1rem solid #e9e5f0;
  margin-left: 3.4rem;
  margin-right: 3rem;
  color: #363636;
}

.faq_arrow img {
  transform: rotate(180deg);
  transition: 0.25s ease;
}

.accordion_button:not(.collapsed) .faq_arrow img {
  transform: rotate(0);
}

.faq_logo {
  width: 26.6rem;
  margin: 0 auto;
  transition-delay: 0.2s;
}

.faq_tab_content {
  border: 0.1rem solid #f2eafd;
  background: #fff;
  padding: 8.9rem 8rem;
  border-radius: 2rem 2rem 16.6rem 16.6rem;
}

.faq_tab_content .title_32 {
  transition-delay: 0.5s;
}

.faq_tab_content p {
  transition-delay: 0.8s;
}

.faq_content {
  padding: 5rem;
}

.faq_content .row {
  --bs-gutter-x: 4.4rem;
  --bs-gutter-y: 4rem;
  align-items: center;
}

/* ================= Contractar area =================== */
.contractar_area {
  padding-top: 9.8rem;
  padding-bottom: 26.6rem;
}

.contractar_bg {
  position: absolute;
  width: 100vw;
  right: 0;
  top: 0;
}

.contractor_icon img {
  width: 4rem;
}

.contractor_icon {
  width: 9.6rem;
  height: 9.6rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -4.8rem;
  background: linear-gradient(180deg, #c2ecef 0%, #8bced3 100%);
}

.contractor_box {
  padding: 7.8rem 3rem 8.4rem 3rem;
  border-radius: 2rem 2rem 16.6rem 16.6rem;
  border: 0.1rem solid #e0f0f2;
  width: 33.2rem;
  background: #fff;
  box-shadow: var(--shadowMain);
  position: absolute;
}

.contractor_info h2 {
  padding-top: 0;
}

.contractor_boxes_wrap {
  position: relative;
  width: 60rem;
  height: 60rem;
  border: 0.1rem solid #cee6e8;
  border-radius: 1000rem;
}

.contractor_box1 {
  display: block;
  left: 0.4rem;
  top: -1.8rem;
}

.contractor_box2 {
  left: -6.1rem;
  bottom: -10.6rem;
  display: block;
}

.contractor_info p {
  font-size: 1.8rem;
  line-height: 3rem;
  color: #545454;
}

.contractor_info h2 {
  font-size: 2.2rem;
  line-height: 3.2rem;
  font-weight: 700;
  color: #101010;
}

.contractor_box3 {
  right: -6.8rem;
  bottom: 3rem;
}

.contractar_area .content {
  max-width: 53rem;
  margin-left: auto;
  padding-top: 9rem;
}

.contratar_content .row {
  --bs-gutter-x: 0;
}

.content h3 {
  color: #363636;
}

/* ================= Footer area ==================== */
.footer_section {
  padding: 22.4rem 0 0;
  overflow: hidden;
}

.footer_bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
}

.footer_links ul li a {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem;
  color: #e3ddeb;
}

.footer_links ul {
  display: grid;
  gap: 3.6rem;
}

.footer_section a {
  color: #e3ddeb;
}


.footer_section  a:hover {
  color: #fff;
  text-decoration: underline !important;
}

.footer_logo img {
  width: 27.2rem;
}

.social_icon a {
  width: 5rem;
  height: 5rem;
  border-radius: 10rem;
  border: 0.1rem solid #6b469f;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.35s;
  background: #532e88;
}

.social_icon {
  gap: 1rem;
}

.social_icon a:hover {
  background: #fff;
}

.social_icon a:hover img {
  filter: brightness(0) saturate(100%) invert(17%) sepia(70%) saturate(2032%)
    hue-rotate(249deg) brightness(94%) contrast(91%);
}

.footer_mid {
  max-width: 43.6rem;
  margin: 0 auto;
  padding-top: 0.8rem;
}

.footer_mid > p {
  line-height: 3rem;
  font-size: 1.8rem;
  font-weight: 400;
  color: #e3ddeb;
}

.footer_box_end_row p {
  font-size: 1.8rem;
  line-height: 3rem;
  color: #e3ddeb;
}

.footer_box_end {
  padding-top: 2.1rem;
}

/* ============== copywrite ============== */
.copywrite {
  border-top: 0.1rem solid #7452a6;
}

.copywrite p {
  color: #e3ddeb;
}

.copywrite a {
  color: #e3ddeb;
}

.copywrite a:hover {
  color: #ffffff;
}

/* ============ Dropdown =========== */
.login_dropdown {
  width: 35.5rem;
  background: #ffffff;
  border: 0.1rem solid #e8e8ff;
  box-shadow: 0.2rem 0.3rem 2.8rem rgba(157, 159, 240, 0.11);
  border-radius: 2.5rem;
  padding: 3rem 2.5rem 3rem 2.5rem;
  margin-top: 2rem !important;
  inset: 0 0 auto auto !important;
}

.login_dropdown h5 {
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 1.272;
  color: #1f1f11;
  margin-bottom: 2.2rem;
}

.login_dropdown button img {
  width: 2.6rem;
}

.login_dropdown h5 {
  font-size: 1.8rem;
  margin-bottom: 1.4rem;
}

.login_dropdown::before {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 5rem;
  width: 2rem;
  height: 1.8rem;
  background: #fff;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.login_dropdown button {
  display: inline-flex;
  align-items: center;
  background: #ffffff;
  border: 0.15rem solid #542f89;
  box-shadow: 0.2rem 0.3rem 2.8rem rgba(177, 147, 238, 0.13);
  border-radius: 6rem;
  padding: 1.6rem 2.1rem 1.6rem 2.3rem;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 1.2;
  color: #59338e;
  transition: 200ms;
  height: 5.5rem;
}

.login_dropdown button span {
  display: inline-block;
  margin-left: 1.2rem;
  padding-left: 1rem;
  border-left: 0.1rem solid #dedede;
  white-space: nowrap;
}

.login_dropdown > div:first-child {
  margin-bottom: 3.5rem;
}

.dropdown-menu a {
  padding: 0;
}
